extends admin

block pagecontent

	h2 Pages (#{lang})

	.list
		ul
			- each page in pages
				li 
					a(href="/admin/pages/edit/" + page.ID) #{page.title}
					a(href="#" onclick="deletePage(" + page.ID + ");return false;" style="color:#c33e1b;float:right;") Delete