extends admin


block pagecontent

	h2 Configuration (#{lang})

	.list
		ul
			li
				div
					input#login(type="text" value="login" style="width:500px;margin:0;height:20px;" onfocus="if(this.value == 'login') { this.value = ''; }")
				div
					input#loginVerif(type="text" value="login verification" style="width:500px;margin:0;height:20px;" onfocus="if(this.value == 'login verification') { this.value = ''; }")
				div
					input#pass(type="password" value="password" style="width:500px;margin:0;height:20px;" onfocus="if(this.value == 'password') { this.value = ''; }")
				div
					input#passVerif(type="password" value="password" style="width:500px;margin:0;height:20px;" onfocus="if(this.value == 'password') { this.value = ''; }")
				div
					a(href="#" onclick="updateCredentials();return false;") Update
					
	.list
		ul
			- each pref,prefKey in config_values
				li
					div
						strong #{prefKey}
					div
						textarea(type="text" style="margin:0;width:500px;height:50px;") #{pref}
					div
						a(href="#" onclick="configUpdateKey(this);return false;" style="color:#8ab946") Update

	div(style="height:20px;")
