extends admin


block pagecontent

	h2 Posts (#{lang})

	.postlist
		- each post in posts
			.post
				- each block in post.blocks
					if (block.type == "title")
						h2 
							a(href="/admin-edit-" + post.ID) #{block.text} 
						.clearboth


	#myNicPanel