<!DOCTYPE html>	
 <html lang="{{ .lang }}">
 	{{ template "admin_head" . }}
	 <body>
	 	<script>
			window.fbAsyncInit = function() {
				FB.init({
					appId            : '322882887839773',
					autoLogAppEvents : true,
					xfbml            : true,
					version          : 'v3.0'
				});
				facebook_checkLogin();
			};

			(function(d, s, id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "https://connect.facebook.net/en_US/sdk.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>

	 	{{ template "admin_menu" . }}
	 	<div id="content">
	 		<h1>Settings</h1>
	 		<div id="settings">
	 			<div>
	 				<h2>Facebook</h2>
	 				<p>Merge Facebook comments with blog post comments</p>
					
					<input type="text" name="" placeholder="App ID" />

					<p>
						<a href="#" class="primary-action positive" onclick="facebook_login();">login and extend token</a> | 
						<a href="#" class="primary-action negative" onclick="facebook_logout();">logout</a>
					</p>

					<p id="username"></p>

					<p id="token" style="word-wrap: break-word;">
						<strong>Token: </strong>
					</p>

					<p id="expiration"><strong>Expires: </strong></p>

				</div>

				<div>
					<h2>Sendgrid</h2>
					<p style="color: #f00;">NOT WIRED</p>
					<p>Send emails (comment answers, contact forms)</p>

					<input type="text" name="" placeholder="API Key" />

					<a href="#" class="primary-action positive">Update</a>
				</div>

				<div>
					<h2>Admin credentials</h2>
					<p style="color: #f00;">NOT WIRED</p>
					<p>Username and password to control this blog.</p>

					<input type="text" name="" placeholder="Username" />
					<input type="text" name="" placeholder="Current password" />
					<input type="text" name="" placeholder="New password" />
					<input type="text" name="" placeholder="Repeat new password" />

					<a href="#" class="primary-action positive">Update</a>
				</div>

				<div>
					<h2>General</h2>
					<p style="color: #f00;">NOT WIRED</p>
					<p><strong>Title</strong> - Default blog title (to be defined in localization keys when supporting more that 1 language).</p>
					<input type="text" name="" placeholder="Title" />
					<p><strong>Supported languages</strong> - Comma-separated supported languages.</p>
					<input type="text" name="" placeholder="en,fr" />
					<p><strong>Theme</strong> - Displayed blog theme.</p>
					<select>
						<option value="default">Default</option>
						<option value="laurel" selected>Laurel</option>
					</select>
					<p><strong>Posts per page</strong> - The amount of posts displayed on one page.</p>
					<input type="text" name="" placeholder="10" />
					<p><strong>Timezone</strong> - The timezone that's being used when scheduling posts.</p>
					<input type="text" name="" placeholder="Europe/Paris" />
					<a href="#" class="primary-action positive">Update</a>
				</div>
	 		</div>
	 	</div>
	 </body>	
 </html>
