<!DOCTYPE html>	
 <html lang="{{ .lang }}">
 	{{ template "admin_head" . }}
	 <body>
	 	{{ template "admin_menu" . }}
	 	<div id="content">
	 		<h1>Comments</h1>
	 		<div id="comments">
				{{ range .comments }}
					<div id="comment-{{ .ID }}" class="comment{{ if eq .Valid false }} unvalidated{{ end }}">
						<table class="options-table">
						<tr>
							<td class="title"><b>{{ .Name }}</b><span style="display:none" class="date">{{ .Date }}</span> - <a style="color: #3399ff;" href="/post/{{ .PostID }}">post #{{ .PostID }}</a> - <a style="color: #3399ff;" href="/post/{{ .PostID }}#com{{ .ID }}">com #{{ .ID }}</a>{{ if .Email }}<br><a href="mailto:{{ .Email }}">{{ .Email }}</a>{{ end }}</td>
							<td class="options">
								{{ if eq .Valid false }}<a class="primary-action accept" href="#" onclick="acceptComment('{{ .ID }}'); return false;"><span class="fas fa-check-circle"></span></a>{{ end }}
								<a id="comment-highlight-btn-{{ .ID }}" {{ if .Highlighted }}class="starred"{{ end }} href="#" onclick="highlightComment('{{ .ID }}'); return false;"><span class="fas fa-star"></span></a>
								<a class="trash" href="#" onclick="deleteComment('{{ .ID }}'); return false;"><span class="fas fa-trash-alt"></span></a>
							</td>
						</tr>
						</table>
						<div class="comment-content">{{ nl2br .Content }}</div>
					</div>
				{{ else }}
					<p>no comments</p>
				{{ end }}

				{{ if .nbPages }}
					{{ if gt .nbPages 1}}
						<div id="pages">
							{{ $pages := pagesAroundCurrent .currentPage 2 .nbPages}}
							{{ $currentPlusOne := incr .currentPage }}
							{{ $currentPlusTwo := incr $currentPlusOne }}
							{{ $scope := .scope }}

							{{ if gt .currentPage 0 }}
								<a class="page-link" href="/admin/{{ $scope }}/{{ .currentPage }}">&lt;</a>
							{{ end }}

							{{ range $pages }}
								{{ if eq . -1}}
								<span class="page-gap">...</span>
								{{ else }}
								<a class="page-link{{if eq . $currentPlusOne}} current{{ end }}" href="/admin/{{ $scope }}/{{ . }}">{{ . }}</a>
								{{ end }}
							{{ end }}


							{{ if lt $currentPlusOne .nbPages }}
								<a class="page-link" href="/admin/{{ $scope }}/{{ $currentPlusTwo }}">&gt;</a>
							{{ end }}
						</div>
					{{ end }}
				{{ end }}
	 		</div>
	 	</div>
	 	{{ template "admin_footer" . }}
	 </body>	
 </html>
