<!DOCTYPE html>	
 <html lang="{{ .lang }}">
 	{{ template "admin_head" . }}
	 <body>
	 	{{ template "admin_menu" . }}
	 	<div id="content">
	 		<h1>Posts</h1>
	 		<a href="/admin/new"><span class="fas fa-plus"></span> New post</a>
	 	</div>
	 </body>	
 </html>
