<!DOCTYPE html>	
 <html lang="{{ .lang }}">
 	{{ template "admin_head" . }}
	 <body>
	 	{{ template "admin_menu" . }}
	 	<div id="content">
	 		<h1>Localized settings</h1>
	 		<div id="settings">
				<div>
					<p style="color: #f00;">NOT WIRED</p>
					<p><strong>Title</strong> - Default blog title</p>
					<input type="text" name="" placeholder="Title" />
					<a href="#" class="primary-action positive">Update</a>
				</div>
	 		</div>
	 	</div>
	 	{{ template "admin_footer" . }}
	 </body>	
 </html>
