<!DOCTYPE html>	
 <html lang="{{ .lang }}">
 	{{ template "admin_head" . }}
	 <body>
	 	{{ template "admin_menu" . }}
	 	<div id="content">
	 		<p>TEST</p>
	 	</div>
	 	{{ template "admin_footer" . }}
	 </body>	
 </html>
