{{ define "admin_head" }}
 	<head>
		<title>{{ .title }}</title>
		
		<!-- Mobile Specific Metas -->
  		<meta name="viewport" content="width=device-width, initial-scale=1">

  		<!-- STYLE -->
		<link rel="stylesheet" type="text/css" href="/admin/theme/style.css">
		<link rel="stylesheet" type="text/css" href="/admin/theme/fontawesome-all.min.css">
		<link rel="stylesheet" type="text/css" href="/admin/theme/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="/admin/theme/jquery.timepicker.min.css">

		<!-- SCRIPTS -->
		<script type="text/javascript" src="/js/jquery.js"></script>
		<script type="text/javascript" src="/js/jquery.linkify.min.js"></script>
		<script type="text/javascript" src="/js/jquery.md5.js"></script>
		<script type="text/javascript" src="/js/functions-common.js"/></script>
		<script type="text/javascript" src="/js/functions-blog.js"/></script>
		<script type="text/javascript" src="/admin/js/functions-admin.js"/></script>
		<script type="text/javascript" src="/admin/js/jquery-ui-1.12.1.js"/></script>
		<script type="text/javascript" src="/admin/js/jquery.timepicker.min.js"/></script>
		<script type="text/javascript" src="/admin/js/moment-with-locales.js"/></script>

		<!-- Quill -->
		<link href="/admin/theme/quill.snow.css" rel="stylesheet">
		<script src="/admin/theme/quill.js"></script>
		<!-- Custom clipboard to paste plain text instead of formatted html -->
	 	<script type="text/javascript">
			var Clipboard = Quill.import('modules/clipboard');
			var Delta = Quill.import('delta');

			class PlainClipboard extends Clipboard {
				convert(html = null) {
					if (typeof html === 'string') {
						this.container.innerHTML = html;
					}
					
					let text = this.container.innerText;
					this.container.innerHTML = '';
					return new Delta().insert(text);
				}
			}

			Quill.register('modules/clipboard', PlainClipboard, true);	 		
	 	</script>

		<!-- FONTS -->
		<link href="/admin/theme/lobster-raleway.css" rel="stylesheet">
	</head>
{{ end }}
