{{ define "admin_menu" }}
<nav id="menu">
	<ul>
		<li>
			<select>
				<option value="fr">fr</option>
			</select>
		</li>
		<li><a href="/admin/posts">Posts</a></li><!--
		--><li><a href="/admin/pages">Pages</a></li><!--
		--><li><a href="/admin/comments">Comments</a></li><!--
		--><li><a href="/admin/newcomments">New Comments</a></li><!--
		--><li><a href="/admin/keys">Keys</a></li><!--
		--><li><a href="/admin/config">Config</a></li>
	</ul>
</nav>
{{ end }}