{{ define "admin_menu" }}
<nav id="menu">
	<ul>
		<li>
			<select>
				<option value="fr">fr</option>
			</select>
		</li>
		<li><a href="/admin/posts">Posts</a></li><!--
		--><li><a href="/admin/pages">Pages</a></li><!--
		--><li><a href="/admin/comments">Comments</a></li><!--
		--><li><a href="/admin/newcomments">Needs Approval (3)</a></li><!--
		--><!--<li><a href="/admin/keys">Keys</a></li>--><!--
		--><li><a href="/admin/settings">Settings</a></li><!--
		--><li><a href="/admin/localized">Localized</a></li><!--
		--><li><a style="color: #cc3333;" href="#" onclick="logout(this);return false;">Logout</a></li>
	</ul>
</nav>
{{ end }}