{{ define "admin_menu" }}
<nav id="menu">
	<ul>
		<li>
			<select>
				<option value="fr">fr</option>
			</select>
		</li>
		<li><a href="posts">Posts</a></li><!--
		--><li><a href="pages">Pages</a></li><!--
		--><li><a href="comments">Comments</a></li><!--
		--><li><a href="newcomments">New Comments</a></li><!--
		--><li><a href="keys">Keys</a></li><!--
		--><li><a href="config">Config</a></li>
	</ul>
</nav>
{{ end }}