{{ define "admin_head" }}
 	<head>
		<title>{{ .title }}</title>
		
		<!-- Mobile Specific Metas -->
  		<meta name="viewport" content="width=device-width, initial-scale=1">

  		<!-- STYLE -->
		<link rel="stylesheet" type="text/css" href="/admin/theme/style.css">
		<link rel="stylesheet" type="text/css" href="/admin/theme/fontawesome-all.min.css">

		<!-- SCRIPTS -->
		<script type="text/javascript" src="/js/jquery.js"></script>
		<script type="text/javascript" src="/js/jquery.linkify.min.js"></script>
		<script type="text/javascript" src="/js/jquery.md5.js"></script>
		<script type="text/javascript" src="/js/functions-common.js"/></script>
		<script type="text/javascript" src="/js/functions-blog.js"/></script>

		<!-- FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Lobster|Raleway" rel="stylesheet">
	</head>
{{ end }}
