<!DOCTYPE html>	
 <html lang="{{ .lang }}">
	{{ template "admin_head" . }}
	<body>
		<script type="text/javascript">
			window.onload = function() {
				$("#datepicker").datepicker()
				$("#timepicker").timepicker()
				notDirty()
				window.onbeforeunload = function() {
					return alertIfDirty()	
				}
			}
		</script>

		{{ template "admin_menu" . }}
		<div id="content">
			{{ if .post}}
				<h1>Edit</h1>
				<input id="postID" type="hidden" value="{{ .post.ID }}">
			{{ else }}
				<h1>New</h1>
			{{ end }}

			<input {{ if .post}}value="{{ .post.Title }}"{{ end}} class="title" id="postTitle" type="text" placeholder="Title" onfocus="this.placeholder =''" onblur="this.placeholder = 'Title'">

			<div id="blocks">

				{{ with .post }}
					{{ range $id, $block := .Blocks }}
						{{ if ($block.IsOfType "text") }}
							<div id="block{{ $id }}" class="block block_text">{{ $block.text }}</div>
						{{ else if ($block.IsOfType "html") }}
							<textarea onfocus="showToolBar(this)" id="block{{ $id }}" class="block block_html">{{ $block.data }}</textarea>
						{{ else if ($block.IsOfType "image") }}
							<div onclick="showToolBar(this)" id="block{{ $id }}" class="block block_image">
								<img src="{{ $block.path }}"{{ if $block.retina }} srcset="{{ $block.retina }} 2x"{{ end }}>
								<input value="{{ .ValueForKey "url" }}" placeholder="URL" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'URL'"/>
								<input value="{{ .ValueForKey "description" }}" placeholder="Description" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Description'"/>
							</div>
						{{ end }}
					{{ end}}
				{{ end }}

				<div id="blockToolBar" onmousedown="return toolBarMouseDownShouldPropagate(event);">
					<div id="textTools">
						<a href="#" onclick="bold(); return false;"><span class="fas fa-bold"></span></a>
						<a href="#" onclick="italic(); return false;"><span class="fas fa-italic"></span></a>
						<a href="#" onclick="underline();return false;"><span class="fas fa-underline"></span></a>
						<span id="linkIcon" class="fas fa-link"></span>
						<input onkeyup="applyLinkReturnKey(event);" onblur="applyLink();" id="urlField" type="text" placeholder="url" />
						<a href="#" id="unlinkBtn" onclick="removeLink();"><span class="fas fa-unlink"></span></a>
					</div>

					<div id="globalTools">
						<a href="#" onclick="moveUp();return false;"><span class="fas fa-chevron-circle-up"></span></a>
						<a href="#" onclick="moveDown();return false;"><span class="fas fa-chevron-circle-down"></span></a>
						<a href="#" onclick="removeBlock();return false;"><span class="fas fa-trash-alt"></span></a>
					</div>

					<div class="clear"></div>
				</div>
			</div>

			<div id="addBlockButtons">
				<span class="fas fa-plus"></span>
				<a href="#" onclick="addTextBlock(this);return false;">Text</a>
				<a href="#" onclick="addImageBlock(this);return false;">Image</a>
				<a href="#" onclick="addHtmlBlock(this);return false;">HTML</a>
				<!-- <a href="#">File</a> -->
				<!-- <a href="#" onclick="addGalleryBlock(this);">Gallery</a> -->
			</div>

			<div>
				<input autocomplete="off" id="fbpostID" type="text" placeholder="Facebook post ID" onfocus="this.placeholder =''" onblur="this.placeholder = 'Facebook post ID'">
			</div>

			<div>
				<input autocomplete="off" id="tweetURL" type="text" placeholder="Tweet URL" onfocus="this.placeholder =''" onblur="this.placeholder = 'Tweet URL'">
			</div>

			<div>
				<input {{ if .post.SecretKey }}value="{{ .post.SecretKey }}"{{end}} autocomplete="off" id="secretKey" type="text" placeholder="Secret key (to make note private)" onfocus="this.placeholder =''" onblur="this.placeholder = 'Secret key (to make note private)'">
			</div>

			<div>
				{{ if .post}}
					<div class="inlineInput"><input id="showComments" type="checkbox" name="comments" {{ if .post.ShowComments }}checked{{ end }}> Show comments</div>
					<div class="inlineInput"><input id="acceptComments" type="checkbox" name="comments" {{ if .post.AcceptComments }}checked{{ end }}> Accept comments</div>
					<div class="inlineInput"><input id="commentsRequireApproval" type="checkbox" name="comments" {{ if .post.CommentsRequireApproval }}checked{{ end }}> Comments require approval</div>
				{{ else }}
					<div class="inlineInput"><input id="showComments" type="checkbox" name="comments" {{ if .config.ShowComments }}checked{{ end }}> Show comments</div>
					<div class="inlineInput"><input id="acceptComments" type="checkbox" name="comments" {{ if .config.AcceptComments }}checked{{ end }}> Accept comments</div>
					<div class="inlineInput"><input id="commentsRequireApproval" type="checkbox" name="comments" {{ if .config.CommentsRequireApproval }}checked{{ end }}> Comments require approval</div>
				{{ end }}
				<div class="inlineInput disabled"><input id="isPage" type="checkbox" name="isPage" {{ if .post}}{{ if .post.IsPage }}checked{{ end }}{{ else }}{{ if .isPage }}checked{{ end }}{{ end }} disabled> Static page (not in blog feed, not in RSS)</div>
			</div>

			<div>
				{{ if .post}}
					<input value="{{ .post.DateString }}" id="datepicker" type="text" placeholder="Date" onfocus="this.placeholder =''">
					<input value="{{ .post.TimeString }}" id="timepicker" type="text" placeholder="Time" onfocus="this.placeholder =''">
				{{ else }}
					<input id="datepicker" type="text" placeholder="Date" onfocus="this.placeholder =''">
					<input id="timepicker" type="text" placeholder="Time" onfocus="this.placeholder =''">
				{{ end }}
			</div>

			<div>
				<input {{ if .post.Slug }}value="{{ .post.Slug }}"{{end}} id="slug" type="text" placeholder="Slug" onfocus="this.placeholder =''" onblur="if (this.value==''){this.placeholder='Slug'}">
			</div>

			<div id="submit">
				<a href="#" onclick="sendPost(this);return false;">{{ if .post}}Save{{ else }}Post{{ end }}</a>
			</div>

			<form onsubmit="uploadImage(this,event)" action method="POST" enctype="multipart/form-data" style="display:none;" id="imageUploader" name="imageUploader">
				<input id="imageFile" type="file" name="upload" accept="image/*" onchange="sendImage(this)">
			</form>

		</div>
		{{ template "admin_footer" . }}
	</body>	
 </html>
