<!DOCTYPE html>	
 <html lang="{{ .lang }}">
 	{{ template "admin_head" . }}
	 <body>
	 	{{ template "admin_menu" . }}
	 	<div id="content">
	 		<h1>Comments</h1>
	 		<div id="comments">
				{{ range .comments }}
					<div id="comment-{{ .ID }}" class="comment{{ if eq .Valid false }} unvalidated{{ end }}">
						<div class="title"><b>{{ .Name }}</b><span style="display:none" class="date">{{ .Date }}</span> - #{{ .ID }}</div>
						<div class="options">
							{{ if eq .Valid false }}<b>Approve?</b> <a class="primary-action accept" href="#" onclick="removePost('{{ .ID }}'); return false;"><span class="fas fa-check-circle"></span></a>{{ end }}
							<a class="trash" href="#" onclick="removeComment('{{ .ID }}'); return false;"><span class="fas fa-trash-alt"></span></a>
						</div>
						<div class="clear"></div>
						<div class="comment-content">{{ .Content }}</div>
					</div>
				{{ else }}
					<p>no comments</p>
				{{ end }}

				{{ if .nbPages }}
					{{ if gt .nbPages 1}}
						<div id="pages">
							{{ $pages := pagesAroundCurrent .currentPage 2 .nbPages}}
							{{ $currentPlusOne := incr .currentPage }}
							{{ $currentPlusTwo := incr $currentPlusOne }}
							{{ $scope := .scope }}

							{{ if gt .currentPage 0 }}
								<a class="page-link" href="/admin/{{ $scope }}/{{ .currentPage }}">&lt;</a>
							{{ end }}

							{{ range $pages }}
								{{ if eq . -1}}
								<span class="page-gap">...</span>
								{{ else }}
								<a class="page-link{{if eq . $currentPlusOne}} current{{ end }}" href="/admin/{{ $scope }}/{{ . }}">{{ . }}</a>
								{{ end }}
							{{ end }}


							{{ if lt $currentPlusOne .nbPages }}
								<a class="page-link" href="/admin/{{ $scope }}/{{ $currentPlusTwo }}">&gt;</a>
							{{ end }}
						</div>
					{{ end }}
				{{ end }}
	 		</div>
	 	</div>
	 	{{ template "admin_footer" . }}
	 </body>	
 </html>
