<!DOCTYPE html>
<html lang="{{ .lang }}">
<head>
	<title>{{ .title }}</title>
	{{ if .meta }}
	{{ if .meta.keywords }}<meta name="keywords" content="{{ .Meta.Keywords }}">{{ end }}
	{{ if .meta.description }}<meta name="description" content="{{ .metaDescription }}">{{ end }}
	{{ end }}

	<!-- STYLE -->
	<link rel="stylesheet" type="text/css" href="/style/css/style.css">

	<!-- TODO: FAVICON -->
	<!-- <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff"> -->

	<!-- TODO: OpenGraph -->
	
</head>
	<body>
		<p>Hello World</p>
	</body>
</html>
