<!DOCTYPE html>
<html lang="{{ .lang }}">
	{{ template "head" . }}
	<body>
		{{ template "header" . }}
		{{ template "menu" . }}
		<div id="content">
			
			<div id="posts">
				{{ range .posts }}
					<div class="post">
						<h2><a href="">{{ .Title }}</a></h2>
						{{ range .Blocks }}
							{{ if eq .type "text" }}
							<div class="block">
								<p>{{ .text }}</p>
							</div>
							{{ end }}
						{{ end }}
						<p>comments: {{ .NbComments }}</p>
					</div>
				{{ end }}
			</div>
		</div>
		{{ template "footer" . }}
	</body>
</html>
