<!DOCTYPE html>
<html lang="{{ .lang }}">
	{{ template "head" . }}
	<body>
		{{ template "header" . }}
		{{ template "menu" . }}
		<div id="content">
			<p>Hello World</p>
		</div>
		{{ template "footer" . }}
	</body>
</html>
