{{ define "footer" }}
<div id="footer">
	<div id="sections">
		<div class="separator separator-1"></div>
		<div class="separator separator-2"></div>
		<div class="separator separator-3"></div>
		<div class="separator separator-4"></div>
		<div class="separator separator-5"></div>

		<div class="group">
			<div class="item">
				<h2>Links</h2>
				<ul>
					<li><a href="/">About me</a></li>
					<li><a href="/">References</a></li>
					<li><a href="/">FAQ</a></li>
					<li><a href="/">RSS</a></li>
				</ul>
			</div>

			<div class="item">
				<h2>Follow me</h2>
				<ul>
					<li><a href="/">Facebook</a></li>
					<li><a href="/">Twitter</a></li>
					<li><a href="/">Tumblr</a></li>
				</ul>
			</div>
		</div><!--group-->

		<div class="group">
			<div class="item">
				<h2>Newsletter</h2>
				<p>Fresh news!<br />(not too often)</p>
				<form>
					<input type="email" placeholder="email">
					<input type="button" value="Submit">
				</form>
			</div>

			<div class="item">
				<h2>Friends</h2>
				<div class="image-bubbles">
					<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
					<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
					<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
					<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
					<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
					<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
					<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
					<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
					<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
					<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
					<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
					<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
				</div>
			</div>
		</div><!--group-->
		<div class="clear"></div>
	</div>
	<p>blog © 2017</p>
</div>
{{ end }}