{{ define "footer" }}
<div id="footer">
	<div class="table">
		<div class="columns">
		
			<div class="column">
				<h2>Links</h2>
				<ul>
					<li><a href="/">About me</a></li>
					<li><a href="/">References</a></li>
					<li><a href="/">FAQ</a></li>
				</ul>
			</div>

			<div class="column">
				<h2>Follow me</h2>
				<ul>
					<li><a href="/">Facebook</a></li>
					<li><a href="/">Twitter</a></li>
					<li><a href="/">Tumblr</a></li>
				</ul>
			</div>

			<div class="column">
				<h2>Newsletter</h2>
				<p>Fresh news!<br />(not too often)</p>
				<form>
					<input type="email" placeholder="your@email.com">
					<input type="submit" value="Submit">
				</form>
			</div>

			<div class="column last">
				<h2>Friends</h2>
				<div class="image-bubbles">
					<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
					<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
					<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
					<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
					<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
					<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
					<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
					<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
					<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
					<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
					<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
					<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
				</div>
			</div>

		</div><!--columns-->
	</div><!--table-->

	<p>blog © 2017</p>

</div>
{{ end }}