{{ define "footer" }}
<div id="footer">

	<div class="column">
		<h2>Links</h2>
		<ul>
			<li><a href="/">About me</a></li>
			<li><a href="/">References</a></li>
			<li><a href="/">FAQ</a></li>
		</ul>
	</div>

	<div class="column">
		<h2>Follow me</h2>
		<ul>
			<li><a href="/">Facebook</a></li>
			<li><a href="/">Twitter</a></li>
			<li><a href="/">Tumblr</a></li>
		</ul>
	</div>

	<div class="column">
		<h2>Newsletter</h2>
	</div>

	<div class="column">
		<h2>Friends</h2>
	</div>

	<div class="clear"></div>

	<p>© 2017</p>

</div>
{{ end }}