{{ define "head" }}
<head>
	<title>{{ .title }}</title>

	<!-- KEYWORDS & DESCRIPTIONS -->	
	{{ if .meta }}
	{{ if .meta.keywords }}<meta name="keywords" content="{{ .Meta.Keywords }}">{{ end }}
	{{ if .meta.description }}<meta name="description" content="{{ .metaDescription }}">{{ end }}
	{{ end }}

 	<!-- Mobile Specific Metas -->
  	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<!-- STYLE -->
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="stylesheet" type="text/css" href="/font-awesome.min.css">

	<!-- SCRIPTS -->
	<!-- <script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/functions.js"/></script> -->

	<!-- FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Lobster|Raleway" rel="stylesheet">


</head>
{{ end }}