{{ define "menu" }}
<nav id="menu">
	<div id="area">
		<div class="devBounds"></div>
		<img src="http://graph.facebook.com/100005287202424/picture?type=large"/>
		<ul class="fa-ul">
			<li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a></li>
			<li><a href="/"><i class="fa fa-book" aria-hidden="true"></i> À propos</a></li>
			<li><a href="/"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Boutique</a></li>
		</ul>
	</div>
</nav>
{{ end }}