{{ define "menu" }}
<nav id="menu">
	<ul class="fa-ul">
		<li><img style="position:absolute;bottom:0;right:0;" src="http://graph.facebook.com/100005287202424/picture?type=large"/></li>
		<li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a></li>
		<li><a href="/"><i class="fa fa-book" aria-hidden="true"></i> À propos</a></li>
		<li><a href="/"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Boutique</a></li>
	</ul>
</nav>
{{ end }}