/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
/*@import url('http://fonts.googleapis.com/css?family=Quicksand') */
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
body {
  font-family: 'Helvetica Neue';
  background-color: #fefdf8;
  color: #444;
}
h1 {
  margin: 13px 10px 4px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.container {
  width: 1040px;
  margin: 30px auto;
}
.main-content {
  clear: both;
  width: 700px;
  margin: 10px auto;
}
input {
  margin: 0px;
  width: 300px;
  margin-left: 200px;
  background-color: #5397ba;
  color: #fff;
  border: 1px solid #366b86;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  padding: 2px;
  margin: 20px;
}
#note_text {
  width: 700px;
  margin: 20px;
}
p {
  font-size: 14px;
  color: #666;
  margin: 10px;
  line-height: 16px;
}
.details {
  display: none;
}
footer {
  width: 700px;
  margin: 20px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
}
