
* {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	font-size: 1.5em;
	line-height: 1.5em;
	font-weight: 400;
	font-family: "Raleway", sans-serif;
	height: 100%;
	background-color: #ddd;
}

h1, h2, h3, h4, h5, h6, p {
	padding-bottom: 14px;
}

p:last-child {
	padding-bottom: 0;
}

h1, h2 {
	font-weight: normal;
	font-family: "Lobster", cursive;
}

a {
	text-decoration: none;
	color: #777;
}

a.primary-action.accept {
	color: #7DCB35;
}

a.primary-action.positive {
	color: #3399ff;
}

a.primary-action.negative {
	color: #cc3333;
}

a.trash {
	color: #cc3333 !important;
}

a:hover {
	text-decoration: underline;
}

#menu ul {
	text-align: center;
}

#menu ul li {
	display: inline-block;
}

#menu ul li a {
	display: block;
	padding: 10px;
}

#menu ul li a:hover {
	background-color: #ccc;
}

#login-parent {
	height: 100%;
	display: flex;
	flex-direction: column;
  	justify-content: center;
}

#login {
	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;

	width: 300px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
}

#login-error {
	display: none;
	color: #cc3333;
}

#content {
	max-width: 800px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
}

#footer {
	width: 100%;
	height: 20px;
}

#content input,
#login input {
	width: 100%;
	font-size: 1.3rem;
	border: none;
	padding: 10px;
	background-color: #f2f2f2;
}

#content input.title,
#login input.title {
	font-size: 2.0rem;
}

#content input:focus,
#login input:focus { 
	outline: none; 
	/*background-color: #999;*/
	/*color: #fff;*/
}

#content > div,
#login > div,
#login > input {
	margin-top: 10px;
}

#content .inlineInput {
	display: block;
  	padding-left: 15px;
  	text-indent: -15px;
}

#content .inlineInput > input {
	display: inline-block;
	width: 13px;
	height: 13px;
	padding: 0;
	margin:0;
	vertical-align: center;
	position: relative;
	*overflow: hidden;
}

#content .disabled {
	color: #aaa;
}

#addBlockButtons a,span {
	margin: 5px;
}

#content #submit,
#login #submit {
	margin-top: 20px;
	text-align: center;
}

#content #submit a,
#login #submit a {
	display: inline-block;
	padding: 10px;
	background-color: #7DCB35;
	color: #fff;
}

#content #submit a:hover,
#login #submit a:hover {
	text-decoration: none;
	background-color: #A3E65C
}

#blocks .block {
	margin-top: 10px;
	padding: 10px;
	background-color: #f2f2f2;
	border: none !important;
}

#blocks .block p {
	padding-bottom: 0;
}

.ql-editor {
	padding: 0 !important;
	font-size: inherit !important;
	line-height: inherit !important;
}

.ql-container {
	font-family: inherit !important;
	font-size: inherit !important;
	line-height: inherit !important;
}

#blocks .block:focus { 
	/*outline: none; */
	/*background-color: #999;*/
	/*color: #fff;*/
}

#blocks .block_image {
	text-align: center;
	background-color: #ddd;
	font-size: 0;
	letter-spacing: 0;
	word-spacing: 0;
	line-height: 0;
}

#blocks .block_image input {
	margin-top: 10px;
}

#blocks .block_image img {
	display: inline-block;
	margin: 0;
	padding: 0;
	max-width: 100%;
}

#blocks #blockToolBar {
	display: none;
	margin-bottom: -10px;
	margin-top: 10px;
	width: 100%;
	background-color: #ccc;
}

#blocks #blockToolBar {
	padding-left: 5px;
	padding-right: 5px;
}

#blocks #blockToolBar a {
	display: inline-block;
	padding: 5px;
}

#blocks #blockToolBar a:hover {
	color: #fff;
}

#blocks #blockToolBar #textTools {
	float: left;
}

#linkIcon {
	color: #f2f2f2;
}

#blocks #blockToolBar input {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: inline-block;
	width: 200px;
}

#blocks #blockToolBar #globalTools {
	float: right;
}

#content #datepicker, #content #timepicker {
	width: 200px;
	display: inline-block;
}

#content #datepicker { margin-right: 10px; }

.clear {
	clear: both;
}

#content #settings > div {
	width: 100%;
	padding: 20px;
	background-color: #f2f2f2;
	margin-top: 10px;
}

#content #settings > div p {
	/*padding-bottom: 10px;*/
}

#content #settings > div > input {
	background-color: #777;
	color: #fff;
	margin-bottom: 14px;
}

#content #settings > div > input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #ccc;
	opacity: 1; /* Firefox */
}

#content #comments .comment .comment-content {
	padding: 10px;
	margin-top: 10px;
	background-color: #fafafa;
}

#content #posts .post,
#content #comments .comment {
	width: 100%;
	padding: 10px;
	background-color: #f2f2f2;
	margin-top: 10px;
}

#content #comments .comment.unvalidated {
	background-color: #F2EFD4;
}

#content #posts .post a {
	color: #3399ff;
}

#content #posts .post .date,
#content #comments .comment .date {
	color: #777;
}

#content #posts .post .title,
#content #comments .comment .title {
	display: inline-block;
	float: left;
}

#content #posts .post .options,
#content #comments .comment .options {
	display: inline-block;
	float: right;
}

#content #pages {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 20px;
	padding-bottom: 0;
}

#content #pages .page-link {
	display: inline-block;
	padding: 10px;
	margin: 5px;
	background-color: #ccc;
}

#content #pages .page-link.current {
	background-color: #3399ff;
	color: #FFFFFF;
}

.confirmation-popup-parent {
	display: table;
	background-color: rgba(255,255,255,0.8);
	color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.confirmation-popup {
	font-size: 200px;
	display: table-cell;
    vertical-align: middle;
	text-align: center;
	padding: 10px;
}
