<!DOCTYPE html>	
 <html lang="fr">	
	{{ template "head" . }}
	<body>
		{{ $months := array "Janvier" "Février" "Mars" "Avril" "Mai" "Juin" "Juillet" "Aout" "Septembre" "Octobre" "Novembre" "Décembre" }}
		{{ template "header" . }}
		{{ template "menu" . }}

		<div id="content">
			{{ if and .month .year }}
				<div id="archives-info">
					<h2>{{ template "archives" . }}</h2>
				</div>
			{{ end }}
			<div id="posts">
				{{ range .posts }}
					<div class="post">	
						<div class="title">
							<h2><a href="/{{.Slug}}/{{.ID}}">{{ .Title }}</a></h2>	
							<p class="post-date">{{ .Since }}</p>
							<div class="clear"></div>
						</div>
						{{ range .Blocks }}	
							{{ if eq .type "text" }}	
								<div class="block text">{{ .text }}</div>	
							{{ else if eq .type "html" }}
								<div class="block html">{{ .data }}</div>
							{{ else if eq .type "image" }}	
								<div class="block image">	
									{{ if ne .url "" }}<a href="{{.url}}">{{end}}	
									<img src="{{ .path }}" alt="{{.description}}"{{ if .retina }} srcset="{{ .retina }} 2x"{{ end }}>	
									{{ if ne .url "" }}</a>{{end}}	
								</div>	
							{{ end }}	
						{{ end }}
						<div class="post-ctas">
							<ul>
								<li><a href="/newsletter"><img src="/theme/img/icon-newsletter.png" alt="">Newsletter</a></li>
								<li><a href="/soutenir"><img src="/theme/img/icon-donate.png" alt="">Soutenir avec un don</a></li>
								<li><a href="/boutique"><img src="/theme/img/icon-pdfs.png" alt="">Acheter mes histoires en PDF</a></li>
							</ul>
						</div>
						{{ if .ShowComments }}
						<div class="post-navigation center">
							<a class="comments-link" href="/{{.Slug}}/{{.ID}}#comments">
								<img src="/theme/img/icon-comments.png" alt="">
								{{ if eq .NbComments 1 }}1 commentaire{{ else if gt .NbComments 1 }}{{ .NbComments }} commentaires{{ else }}Commentaires{{ end }}
							</a>
						</div>
						{{ end }}
					</div>	
				{{ end }}	
			</div>
			{{ if .nbPages }}
				{{ if gt .nbPages 1}}
					<div id="pages">
						{{ $pages := pagesAroundCurrent .currentPage 2 .nbPages}}
						{{ $currentPlusOne := incr .currentPage }}
						{{ $currentPlusTwo := incr $currentPlusOne }}

						{{ if gt .currentPage 0 }}
							<a class="page-link" href="/posts/page/{{ .currentPage }}">&lt;</a>
						{{ end }}

						{{ range $pages }}
							{{ if eq . -1}}
							<span class="page-gap">...</span>
							{{ else }}
							<a class="page-link{{if eq . $currentPlusOne}} current{{ end }}" href="/posts/page/{{ . }}">{{ . }}</a>
							{{ end }}
						{{ end }}


						{{ if lt $currentPlusOne .nbPages }}
							<a class="page-link" href="/posts/page/{{ $currentPlusTwo }}">&gt;</a>
						{{ end }}
					</div>
				{{ end }}
			{{ end }}
		</div><!-- end of content -->

		{{ template "footer" . }}

		{{ template "reader" . }}
	</body>	
 </html>
