{{ define "footer" }}
<div id="footer">
	<div id="sections">
		<div class="group">
			<div class="itemWrapper">
				<div class="item">
					<h2>Pages</h2>
					<ul>
						<li>{{ template "archives" . }}</li>
						<li><a href="/">Contact</a></li>
						<li><a href="https://commeconvenu.com"><i>Comme convenu</i></a></li>
						<li><a href="https://particubes.com"><i>Particubes</i></a></li>
						<li><a href="/">FAQ</a></li>
					</ul>
				</div>
			</div>

			<div class="itemWrapper">
				<div class="item">
					<h2>Follow me</h2>
					<ul>
						<li><a href="https://twitter.com/bloglaurel"><span class="fab fa-twitter"></span> Twitter</a></li>
						<li><a href="https://www.facebook.com/LaurelComics"><span class="fab fa-facebook-square"></span> Facebook</a></li>
						<li><a href="https://www.pinterest.com/bloglaurel/bloglaurel-my-work/"><span class="fab fa-pinterest"></span> Pinterest</a></li>
						<li><a href="http://bloglaurel.tumblr.com"><span class="fab fa-tumblr-square"></span> Tumblr</a></li>
						<li><a href="https://500px.com/laurelduermael"><span class="fa fa-images"></span> Mes photos</a></li>
						<li><a href="https://instagram.com/bloglaurel/"><span class="fab fa-instagram"></span> Instagram</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="group">
			<div class="itemWrapper">
				<div class="item">
					<h2>Newsletter</h2>
					<p>(2 fois par an environ)</p>
					<form>
						<input type="email" placeholder="email">
						<input type="button" value="Ok">
					</form>
				</div>
			</div>
     	
			<div class="itemWrapper">
				<div class="item">
					<h2>À voir</h2>
					<div class="image-bubbles">
						<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
						<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
						<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
						<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
						<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
						<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
						<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
						<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
						<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
						<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
						<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
						<a href="/"><img src="/img/friends/1.jpg" srcset="/img/friends/1@2x.jpg 2x"/></a>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<p>© 2003-2018 Laurel<br />Fabriqué par <a href="https://twitter.com/aduermael">@aduermael</a> (avec <a href="https://www.docker.com/">🐳</a>)</p>
</div>
{{ end }}