{{ define "head" }}
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-66275238-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'UA-66275238-1');
	</script>

	<title>{{ .title }}</title>

	<!-- KEYWORDS & DESCRIPTIONS -->	
	{{ if .meta }}
	{{ if .meta.keywords }}<meta name="keywords" content="{{ .Meta.Keywords }}">{{ end }}
	{{ if .meta.description }}<meta name="description" content="{{ .metaDescription }}">{{ end }}
	{{ end }}

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff976a">
	<meta name="msapplication-TileColor" content="#decaff">
	<meta name="theme-color" content="#ffffff">

	<!-- Feeds -->
	<link rel="alternate" type="application/rss+xml" title="Laurel's RSS feed" href="/rss">

 	<!-- Mobile Specific Metas -->
  	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<!-- Keywords & description -->
  	<meta name="keywords" content="laurel,comics,drawing,art,illustration,game,grub,pixowl,blog,book,iphone,ipad,android,san,francisco">
  	<meta name="description" content="I'm Laurel, a professional french comic book artist and writer living in California. I work also on mobile games.">

  	<!-- STYLE -->
	<link rel="stylesheet" type="text/css" href="/theme/style.css">
	<link rel="stylesheet" type="text/css" href="/theme/glitter-effect.css">
	<link rel="stylesheet" type="text/css" href="/theme/fontawesome-all.min.css">

	<!-- SCRIPTS -->
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery.linkify.min.js"></script>
	<script src="/js/jquery.md5.js"></script>
	<script src="/js/functions-common.js"></script>
	<script src="/js/functions-blog.js"></script>
	<script src="/theme/ulule-redirect.js"></script>
	<script src="/theme/glitter-effect.js"></script>
	<script src="/theme/style.js"></script>
	<script src="/theme/gallery.js"></script>

	<!-- FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Amarante|Montserrat" rel="stylesheet">

	<!-- STRIPE -->
	<script src="https://js.stripe.com/v3/"></script>

</head>
{{ end }}