{{ define "menu" }}
<nav id="menu">
	<div id="area">
		<!-- <div class="devBounds"></div> -->
		<img src="http://graph.facebook.com/100005287202424/picture?type=large"/>
		<ul class="fa-ul">
			<li><a href="{{ .host }}"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a></li><!--
			--><li><a href="#" onclick="toggleLire(); return false;"><i class="fa fa-book" aria-hidden="true"></i> Lire</a></li><!--

			--><li><a href="https://boutique.bloglaurel.com"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Boutique</a></li>
		</ul>
	</div>

	<div id="lire">
		<ul>
			<li>
				<a href="https://commeconvenu.com">
					<img src="/uploads/comme-convenu-1/couverture.jpg">
					<div class="description">
						<h2>Comme Convenu</h2>
						<p>L’histoire en BD d’un couple de Français qui plaque tout et part en Californie pour monter un studio de jeux vidéo. 🕹🌴</p>
						<p>500 pages (2 tomes)</p>
					</div>
					
					<div class="clear"></div>
					<!-- <a href="/comme-convenu">Comme Convenu (500 pages)</a>	 -->
				</a>
			</li>
			<li>
				<a href="https://californid.com">
					<img src="/uploads/californid-1/couverture.jpg">
					<div class="description">
						<h2>Californid</h2>
						<p>L'histoire en BD d'une famille de Français qui part vivre en Californie ! Suite chronologique de Comme Convenu, mais peut être lu avant.</p>
						<p><i>Publication en cours... ✏️</i></p>
					</div>
					<div class="clear"></div>
				</a>
			</li>
		</ul>
	</div>
</nav>
{{ end }}