{{ define "menu" }}
<nav id="menu">
	<div id="area">
		<!-- <div class="devBounds"></div> -->
		<img alt="Laurel avatar" src="/theme/img/avatar.jpg"/>
		<ul class="fa-ul">
			<li><a href="{{ .host }}"><img src="/theme/img/icon-home.png">Accueil</a></li><!--
			--><li><a href="https://fr.tipeee.com/laurel"><img src="/theme/img/icon-donate.png">Soutenir</a></li><!--
			--><li><a href="#" onclick="toggleLire(); return false;"><img src="/theme/img/icon-read.png">Lire mon histoire (BD gratuite)</a></li>
		</ul>
	</div>

	<div id="lire">
		<ul>
			<li>
				<a href="https://commeconvenu.com">
					<img alt="couverture de Comme Convenu" src="/uploads/comme-convenu-1/couverture.jpg">
					<div class="description">
						<h2>Comme Convenu</h2>
						<p>L'histoire en BD d'un couple de Français qui plaque tout et part en Californie pour monter un studio de jeux vidéo. 🕹🌴</p>
						<p>500 pages (2 tomes)</p>
					</div>
					
					<div class="clear"></div>
					<!-- <a href="/comme-convenu">Comme Convenu (500 pages)</a>	 -->
				</a>
			</li>
			<li>
				<a href="https://californid.com">
					<img alt="couverture de Californid" src="/uploads/californid-1/couverture.jpg">
					<div class="description">
						<h2>Californid</h2>
						<p>L'histoire en BD d'une famille de Français qui part vivre en Californie ! Suite chronologique de Comme Convenu, mais peut être lu avant.</p>
						<p>124 pages (1 tome)<br><i>2ème tome en cours... ✏️</i></p>
					</div>
					<div class="clear"></div>
				</a>
			</li>
		</ul>
	</div>
</nav>
{{ end }}