{{ define "menu" }}
<nav id="menu">
	<div id="area">
		<!-- <div class="devBounds"></div> -->
		<img src="http://graph.facebook.com/100005287202424/picture?type=large"/>
		<ul class="fa-ul">
			<li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a></li><!--
			--><li><a href="#" onclick="toggleLire(); return false;"><i class="fa fa-book" aria-hidden="true"></i> Lire</a></li><!--

			--><li><a href="/"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Boutique</a></li><!--
--><li><a href="/"><i class="fa fa-question-circle" aria-hidden="true"></i> À propos</a></li>

			<!--<li><a href="/"><i class="fa fa-user" aria-hidden="true"></i> Mon compte</a></li>-->
		</ul>
	</div>

	<div id="lire">
		<ul>
			<li><a href="https://commeconvenu.com/lire">Comme Convenu (500 pages)</a></li>
			<li><a href="#">Californid (en cours...)</a></li>
		</ul>
	</div>
</nav>
{{ end }}