{{ define "reader" }}
<div id="reader">
	<div id="page-container">
		<a name="top"></a>
		<div id="page" onclick="turnPage(this, event)">
			<span class="helper"></span><img id="pageimage" src="/theme/gallery/loader.gif">
		</div>
	</div>
	<a class="close" href="#" onclick="closeReader()"><img src="/files/gallery/cross.svg"></a>
</div>
<div id="reader-navigation">
		<a href="#" onclick="previousPage()">Page précédente</a><select id="pages" onchange="loadPage(this)"></select><a href="#" onclick="nextPage()">Page suivante</a>
</div>
{{ end }}