        
.shine {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="500" height="500" viewBox="0, 0, 500, 500"><path d="M500,193.762 Q500,200.693 492.188,208.885 L383.113,320.416 L408.954,477.946 Q409.255,480.151 409.255,484.247 Q409.255,490.863 406.1,495.432 Q402.945,500 396.935,500 Q391.226,500 384.916,496.219 L250,421.865 L115.084,496.219 Q108.474,500 103.065,500 Q96.755,500 93.6,495.432 Q90.445,490.863 90.445,484.247 Q90.445,482.357 91.046,477.946 L116.887,320.416 L7.512,208.885 Q-0,200.378 -0,193.762 Q-0,182.105 16.827,179.269 L167.668,156.27 L235.276,12.917 Q240.986,0 250,0 Q259.014,0 264.724,12.917 L332.332,156.27 L483.173,179.269 Q500,182.105 500,193.762 z" fill="#FFF5BF"/></svg>');
	background-repeat: no-repeat;
	background-position:center;
	background-size: 100% 100%;
	overflow: hidden;
	z-index: 2;
	color: transparent;
	-moz-opacity: 0.0;
	opacity: 0.0;
	animation: glitter 6s linear 0s infinite normal;
	-webkit-animation: glitter 6s linear 0s infinite normal;
	-moz-animation: glitter 8s linear 0s infinite normal;
	-ms-animation: glitter 8s linear 0s infinite normal;
	-o-animation: glitter 8s linear 0s infinite normal;
}

.shine.small {
	width: 20px;
	height: 20px;
}

.shine.medium {
	width: 30px;
	height: 30px;
}

.shine.large {
	width: 50px;
	height: 50px;
}

/*CSS3 keyframes for glittering effect*/
@-webkit-keyframes glitter {
	0% {
		-webkit-transform: scale(0.3) rotate(0deg);
		opacity: 0;
	}
	25% {
		-webkit-transform: scale(1) rotate(360deg);
		opacity: 1;
	}
	50% {
		-webkit-transform: scale(0.3) rotate(720deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(0.3) rotate(0deg);
		opacity: 0;
	}
}