.devBounds {
	width: 800px;
	border-left: 1px solid #f00;
	border-right: 1px solid #f00;
	height: 200px;
	position: absolute;
}

* {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}

html {
	font-size: 15px;
	line-height: 1.5;
	height: 100%;
}

body {
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
	height: 100%;
	background-color: #4f686f;
}

h1, h2, h3, h4, h5, h6, p {
	padding-bottom: 1rem;
}

h1, h2 {
	font-weight: normal;
	font-family: "Amarante", cursive;
}

a {
	text-decoration: none;
	color: #42c4d1;
}

a:hover {
	text-decoration: underline;
}

/* FORMS */

.post-form {
	max-width: 400px;
	padding: 10px;
	text-align: center;
	/*border: 1px solid #999;*/
	background-color: #F6EEDF;
	border-radius: 5px;
	color: #555;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #E5D3B3;
}

.post-form form input, form.nameForm input {
	padding: 10px;
	border-radius: 5px;
	border: none;
}

.post-form form input.newsletterEmail {
	background-color: #FFFCF7;
	color: #000;
	margin-bottom: 10px;
}

.post-form h1,
.post-form h2,
.post-form h3,
.post-form h4,
.post-form h5,
.post-form h6,
.post-form p {
	padding-bottom: 8px;
}

form input {
	width: 100%;
	font-size: 1rem;
	text-align: center;
	border: 1px solid #aaa;
	background-color: #ccc;
	color: #000;
}

form input:focus {
	outline: none;
}

form textarea:focus {
	outline: none;
}

form input[type="button"] {
	color: #111;
	background-color: #a2f647;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

form input[type="button"]:hover:enabled {
    background-color: #45c5d2;
}

form input[type="button"]:active:enabled {
    background-color: #4edeed;
}

form input[type="button"]:disabled {
	color: #251e31;
	background-color: #3b304e;
	cursor: default;
}

form.nameForm input {
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

form.nameForm input#nameInput {
	background-color: #EEEEEE;
	color: #000;
	margin-bottom: 10px;
}

form.nameForm input#message {
	background-color: transparent;
	color: #000;
	margin-bottom: 20px;
}

form.nameForm input#button {
	background-color: #00A6F0;
	color: #FFF;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: 20px;
}

a.button-ulule {
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	text-align: center;

	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #00A6F0;
	color: #FFF;
	font-weight: bold;
	cursor: pointer;
}



/* HEADER */

#header {
	width: 100%;
	padding: 20px;
	background-color: #8192a6;
	text-align: center;
}

#header h1 {
	margin: 0;
	padding: 0;
	font-size: 2rem;
	/* text-shadow: 0 0px 6px rgba(68, 92, 98, 0.5); */
}

#header h1 a {
	background-image: linear-gradient(15deg, #ffd043, #fff7d7);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
}

/* MENU */

#menu {
	background-color: #4f686f;
	color: #f7eedf;
}

#menu a {
	color: #f7eedf;
}

#menu > #area {
	max-width: 800px;
	/*height: 40px;*/
	margin-right: auto;
	margin-left: auto;
	line-height: 40px;
}

#menu > #area > img {
	position:absolute;
	top:10px;
	left:10px;

	width: 60px;
	height: 60px;

	border: 0;
	border-radius: 50%;
	padding: 5px;
	background-color: #fff;
	box-shadow: 0 0px 6px rgba(0,0,0,0.5);
}

@media (min-width: 700px) {
	#menu > #area {
		position: relative;
	}
	#menu > #area > img { 
		top: auto;
		bottom:10px;
		left:10px;
		width: 100px;
		height: 100px; 
	}
}

#menu > #area ul { text-align: center; }
#menu > #area li { display: inline-block; }
#menu > #area li a { display: block; padding-left: 10px; padding-right: 10px;}
#menu > #area li a:hover { background-color: #c7879f; }

#menu > #area ul.fa-ul {
	margin: 0;
}

#menu > #lire {
	display: none;
	background-color: #776d89;
	padding: 10px;
}

#menu > #lire ul { text-align: center; }
#menu > #lire li { display: inline-block; padding: 0; margin: 0;}
#menu > #lire li a { color: #eee; display: block; padding-left: 10px; padding-right: 10px;}
#menu > #lire li a:hover { /**/ }

#menu > #lire li > a {
	cursor: pointer;
	display: block;
	text-align: left; 
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
	background-color: #FFF;	
	-webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

#menu > #lire li > a:hover {
	background-color: #45c5d2;		
}

#menu > #lire li img {
	float: left;
	height: 240px;
	margin: 0;
	padding: 0;
}

#menu > #lire li .description {
	width: 250px;
	float: left;
	margin: 0;
	padding: 0;
	margin-left: 10px;
}

#menu > #lire li .description p {
	color: #000;
}

#menu > #lire li .description h2 {
	color: #324349;
}

/* CONTENT */

#content {
	background-color: #fff;
	padding: 0;
}

/*@media (min-width: 600px) {
    #content { padding: 2rem; }
}*/

/* CONTENT - POSTS */

#content #posts{
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1.4rem;
	padding-bottom: 1.4rem;
}

#content #posts .post{
	padding: 1.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	box-shadow: 0 0px 6px rgba(0,0,0,0.1);
	border-radius: 5px;
	margin-bottom: 1.4rem;
}

#content #posts .post:last-child { 
	margin-bottom: 0;
}


#content #posts .post .title {
	/*background-color: #eee;*/
}
#content #posts .post .title h2 {
	float: left;
}
#content #posts .post .title h2 a {
	color: #324349;
}

/* date */
#content #posts .post .title p {
	padding: 0;
	margin: 0;
	float: right;
	color: #8192a6;
}

/* CONTENT - POSTS - COMMENT FORM */

#content #posts .post #commentForm {
	max-width: 600px;
	background-color: #eee;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

#content #posts .post #commentForm .comment-post-info p {
	text-align: center;
	padding: 0 !important;
	margin: 0 !important;
}

#content #posts .post #commentForm p.avatar-info {
	color: #888;
	text-align: center;
	padding: 0;
	margin: 0;
	margin-top: 4px;
	margin-bottom: 4px;
}


#content #posts .post #commentForm #url,
#content #posts .post #commentForm #email {
	max-width: 0 !important; max-height: 0 !important;
	padding: 0; margin: 0;
	background-color: transparent;
	border: none; position: absolute;
}

#content #posts .post #commentForm .header {
	position: relative;
	width: 100%;
	height: 80px;
	margin-bottom: 8px;
}

#content #posts .post #commentForm .header #commentGravatar {
	margin-bottom: 8px;
	width: 80px;
	height: 80px; 
	border-radius: 5px;
}

#content #posts .post #commentForm .header .nameAndEmail {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	padding-left: 88px;
}

#content #posts .post #commentForm textarea,
#content #posts .post #commentForm input[type="text"],
#content #posts .post #commentForm input[type="email"] {
	border-radius: 5px;
}

#content #posts .post #commentForm input[type="text"],
#content #posts .post #commentForm input[type="email"] {
	background-color: #ddd;
}

#content #posts .post #commentForm textarea { font-size: 1rem; margin: 0; border: none;}
#content #posts .post #commentForm .header .nameAndEmail #commentName { width: 100%; margin-bottom: 8px; }
#content #posts .post #commentForm .header .nameAndEmail #commentEmail { width: 100%; }
#content #posts .post #commentForm .webProfile { width: 100%; height: 36px; margin-bottom: 8px; }
#content #posts .post #commentForm .webProfile .left { float: left; width: 50%; padding-right: 4px; }
#content #posts .post #commentForm .webProfile .right { float: left; width: 50%; padding-left: 4px; }
#content #posts .post #commentForm #commentWebsite { width: 100%; }
#content #posts .post #commentForm #commentTwitter { width: 100%; }
#content #posts .post #commentForm #commentContent { width: 100%; padding: 8px; resize: vertical; height: 100px; }

#content #posts .post #commentForm label {
	display: block;
	width: 100%;
	text-align: center;
}

#content #posts .post #commentForm input {
	height: 36px;
	text-align: left;
	padding-left: 8px;
	padding-right: 8px;
	border: none;
}

#content #posts .post #commentForm input[type="checkbox"] { width: auto; height: auto; margin-right: 8px; }
#content #posts .post #commentForm input.mandatory { background-color: #fff; }
#content #posts .post #commentForm input.error { background-color: #f78778 !important; }
#content #posts .post #commentForm textarea.error { background-color: #f78778 !important; }

#content #posts .post #commentForm input[type="button"] {
	display: block; 
	text-align: center;
	margin-bottom: 10px;
	border-radius: 5px;
	color: #3b304e;
	margin-right: auto;
	margin-left: auto;
	max-width: 300px;
	box-shadow: 0px 2px 3px rgba(59,48,78, 0.2);
}

/* BLOCKS */

#content #posts .post .navigation {
	text-align: center;
}

#content #posts .post .number-of-comments {
	text-align: center;
}

#content #posts .post .block {
	margin-bottom: 1rem;
}
#content #posts .post .block:last-child {
	margin-bottom: 0;
}

#content #posts .post .block p {
	padding-bottom: 0;
}

#content #posts .post .block.image { text-align: center; }

#content #posts .post .block.image img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	border-radius: 5px;
}

#content #posts .post .block ul {
	margin-left: 20px;
}

#content #posts .post .block ul li {
	padding-bottom: 10px;
}

/* COMMENTS */

#initial-comment-form-container {
	padding-top: 20px;
}

#content #posts .post .comments {
	padding-top: 20px;
}

#content #posts .post .comments .comment-block {
	margin-bottom: 10px;
	border-radius: 5px;
}

#content #posts .post .comments .comment-block:last-child { margin-bottom: 0px !important; }

#content #posts .post .comments .comment {
	position: relative;
	background-color: rgba(0,0,0,0.01);
	padding: 10px;
	margin-left: 40%;
	overflow-wrap: break-word;
  	word-wrap: break-word;
}

#content #posts .post .comments .comment .options {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 3;
}

#content #posts .post .comments .comment a {
	color: #45c5d2;
}

#content #posts .post .comments .comment a.answer {
	display: inline-block;
	float: right;
	padding: 0;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
	background-color: rgba(129,146,166,0.07);
	color:  rgba(129,146,166,0.5);
	border: 1px solid rgba(129,146,166,0.2);
}

#content #posts .post .comments .comment a.answer-left {
	display: inline-block;
	float: left;
	padding: 0;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.12);
	color: #FFF;
}

#content #posts .post .comments .comment a.answer:hover {
	text-decoration: none;
	background-color: rgba(129,146,166,0.5);
	color: #FFF;
}

#content #posts .post .comments .comment .options a.starred-on {
	color: #FFFFFF;
}

#content #posts .post .comments .comment .options a.starred-on:hover {
	color: #666;
}

#content #posts .post .comments .comment .options a.starred-off {
	color: #666;
}

#content #posts .post .comments .comment .options a.starred-off:hover {
	color: #FFD94A;
}

#content #posts .post .comments .comment .options a.trash {
	color: #666;
}

#content #posts .post .comments .comment .options a.trash:hover {
	color: #CC3333;
}

#content #posts .post .comments .comment.starred {
	background-color: #FFD94A !important;
}

#content #posts .post .comments .comment.laurel {
	background-color: #dcfff4 !important;
}

#content #posts .post .comments .comment.adrien {
	background-color: #dcedff !important;
}

#content #posts .post .comments .comment.indent-0 { margin-left: 0; background-color: rgba(129,146,166,0.07); }
#content #posts .post .comments .comment.indent-1 { margin-left: 7%; background-color: rgba(129,146,166,0.06); }
#content #posts .post .comments .comment.indent-2 { margin-left: 14%; background-color: rgba(129,146,166,0.05); }
#content #posts .post .comments .comment.indent-3 { margin-left: 21%; background-color: rgba(129,146,166,0.04); }

#content #posts .post .comments .comment h3 {
	font-weight: normal;
	font-family: "Amarante", cursive;
	color: #333;
	padding-bottom: 8px;
}

#content #posts .post .comments .comment img,
#content #posts .post .comments .comment h3,
#content #posts .post .comments .comment p,
#content #posts .post .comments .comment a {
	position: relative;
	z-index: 3;
}

#content #posts .post .comments .comment h3 .date {
	font-size: 1rem;
	color: #666;
	font-family: "Montserrat", sans-serif;
	font-weight: normal;
}

#content #posts .post .comments .comment p { 
	padding-bottom: 10px;
}

#content #posts .post .comments .comment img.avatar {
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

#content #posts .post .comments .comment img.avatar-right {
	float: right;
	width: 80px;
	height: 80px;
	margin-left: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

#content #archives-info {
	text-align: center;
	padding: 20px;
}

#content #archives-info h2 {
	padding: 0;
	margin: 0;
}

#content #pages {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 20px;
	color: #3b304e;
}

#content #pages .page-link {
	display: inline-block;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
	background-color: #e0dbe9;
	color: #3b304e;
	border: 1px solid #cbc3d8;
	-webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

#content #pages .page-link:hover {
	text-decoration: none;
	background-color: #ef6e51;
	color: #f7eedf;
	border: 1px solid #dc6449;
}

#content #pages .page-link.current {
	background-color: #ef6e51;
	color: #f7eedf;
	border: 1px solid #dc6449;
}

#content #newsletterSettings {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

#content #newsletterSettings p {
	text-align: center;
}

/* FOOTER */

#footer {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #FFFFFF;
	padding-right: 5px;
	padding-left: 5px;
}

#footer a {
	color: #c3a7ff;
}

#footer a:hover {
	color: #c3a7ff;
}

#footer #sections {
	position: relative;
	margin-bottom: 2rem;
}

#footer #sections .group {
	width: 50%;
	float: left; 
}

#footer #sections .group .itemWrapper {
	width: 100%;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	float:left;
}

#footer #sections .group .item {
	padding: 10px;
	text-align: center;
	/*border: 1px solid #999;*/
	background-color: #324349;
	border-radius: 5px;
	color: #89afb8;
}

#footer #sections .group .item a {
	color: #e3d7fd;
}

#footer #sections .group .item a:hover {
	color: #c3a7ff;
}

#footer #sections .group .item ul { list-style: none; }

#footer #sections .group .item h2 {
	font-size: 1.3rem; color: #f7eedf;
	/* background-image: linear-gradient(15deg, #ffc107, #fffbeb);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent; */
}

#footer #sections .group .item ul li span {
	color: #f7eedf;
	padding-right: 5px;
}

#footer #sections .group .item ul li select {
	margin-top: 10px;
}

#footer #sections .group .item h1,
#footer #sections .group .item h2,
#footer #sections .group .item h3,
#footer #sections .group .item h4,
#footer #sections .group .item h5,
#footer #sections .group .item h6,
#footer #sections .group .item p {
	padding-bottom: 0.5rem;
}

#footer #sections .group .item form input {
	max-width: 150px;
	padding: 5px;
	border-radius: 5px;
	border: none;
}

#footer #sections .group .itemWrapper .item form input[type="email"] {
	background-color: #f7eedf !important;
	color: #3b304e !important;
}

#footer #sections .group .itemWrapper .item form input[type="checkbox"] {
	margin-right: 8px;
}

#footer #sections .group .itemWrapper .item form input[type="button"]:disabled {
	background-color: #251e31;
}

p.newsletter-error {
	display: none;
	color: #ee508d;
}

select {
	cursor: pointer;
	font-size: 1rem;
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
	background:url("data:image/svg+xml;utf8,<svg fill='#FFF' xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
	background-color: #e3d7fd;
	background-repeat:no-repeat;
  	background-position: right 5px top 5px;
  	background-size: 16px 16px;
	color:#3b304e;
	padding: 5px;
	padding-left: 7px;
	max-width: 150px;
	width: 100%;
	border-radius:3px;
	-webkit-border-radius:3px;
  	-webkit-appearance: none;
  	border:0;
  	outline:0;
  	-webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

select:hover {
  background-color:#c3a7ff;
}

select:focus,
select:active {
  border:0;
  outline:0;
}

@media (min-width: 700px) {
	#footer #sections .group .itemWrapper { width: 50%; }
}

.book {
	position: relative;
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
}

.book img {
	width: 100%;
	box-shadow: 0px 2px 5px #aaa;
}

.book a:hover img {
	opacity: 0.7;
}

.book .bookmark {
	display: none;
	position: absolute;
	background-image: url("/files/gallery/bookmark-background.png");
	background-repeat: no-repeat;
	background-size: contain;
	top: -9px;
	left: 15px;
	width: 100px;
	height: 146px;
	pointer-events: none;
}

.bookmark p {
	padding-top: 30px;
	font-family: "Amarante", cursive;
	font-weight: normal;
	font-size: 28px;
	line-height: 34px;
	padding-left: 7px;
	color: #FFF;
	text-align: center;
}

.book p {
	text-align: center;
}



/*********
** READER
*********/

#reader {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 800px;
	background-color: #FFF;
}

#reader #page-container {
	position: absolute;
	top: 0;
	bottom: 50px;
	left: 0;
	right: 0;
}

#reader #page-container #page {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */ 
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;

	/* border: 1px solid red; */
	/* https://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-a-div */
	white-space: nowrap; /* this is required unless you put the helper span closely near the img */
	text-align: center;
}

#reader #page-container #page .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#reader #page-container #page img  {
	pointer-events: none;
	vertical-align: middle;
	max-height: 100%;
	max-width: 100%;
	padding: 10px;
}

#reader a.close {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	padding-top: 10px;
	padding-right: 10px;
}

#reader a.close img {
	width: 100%;
	height: 100%;
}

#reader a.close:hover img {
	opacity: 0.7;
}

#reader-navigation {
	display: none;
	position: fixed;
	text-align: center;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: #3b304e;
}

#reader-navigation a {
	font-size: 1.1rem;
	display: inline-block;
	color: #f8f0e3;
	line-height: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

#reader-navigation a:hover {
	background-color: #211a2e;
	text-decoration: none;
}

#reader-navigation select {
	font-size: 1.1rem;
	display: inline-block;
	color: #45c5d2;
	border: none;
	-webkit-appearance: none;
	box-shadow: none !important;
	-moz-appearance: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	appearance: none;
	background-color: transparent;
	border-radius: 0;
	outline: none;
	height: 50px;
	padding: 0;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	line-height: 50px;
	max-width: auto;
	width: auto;
	background-image: none;
}

#reader-navigation select:hover {
	background-color: #211a2e;
	text-decoration: none;
}

#reader-navigation select * {
	text-align: center;
}

#reader-navigation select::-ms-expand {
	display: none;
}

/* UTILS */

.clear { clear: both; }

.image-bubbles img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border: none;
	background-color: #555;
}

.image-bubbles a:hover img { border: 2px solid #45c5d2; }

::-webkit-input-placeholder { color: #888; } /* Chrome/Opera/Safari */
::-moz-placeholder { color: #888; } /* Firefox 19+ */
:-ms-input-placeholder { color: #888; } /* IE 10+ */
:-moz-placeholder { color: #888; } /* Firefox 18- */

