:root {
	--background-color-primary: #01005b;
	--background-color-secondary: #d4c8ff;
	--background-color-tertiary: #faf5ff;

	--title-color-over-secondary: #ff009c;

	--text-color-over-secondary: #48486f;

	--link-color-over-primary: #FFFFFF;
	--link-color-over-secondary: #020091;
	--link-color-over-tertiary: #faf5ff;

	--border-radius: 5px;

	--tiny-space: 0.1rem;
	--small-space: 0.25rem;
	--space: 0.5rem;
	--big-space: 1rem;
	--bigger-space: 1.5rem;
	--huge-space: 2rem;

	--link-color: #ff8beb;
	--link-color-secondary: #ffc4f5;

	--page-button-background-color: #ffbfdc;
	--page-button-color: #413853;
	--page-button-border-color: #c6bfd2;
	--page-button-background-color-selected: #ff009c;
	--page-button-color-selected: #f7eedf;
	--page-button-border-color-selected: #a60066;

	--post-ctas-background-color: #b0b5f8;
	--post-ctas-color: #252744;
	--post-ctas-border-color: #7074a8;

	--box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);

	--wave-height: 10px;

	--form-button-positive-color: #20483a;
	--form-button-positive-background-color: #00f9a2;
	--form-button-positive-hover-background-color: #71ffcd;
	--form-button-positive-disabled-background-color: #a2f1d5;
}

.devBounds {
	width: 800px;
	border-left: 1px solid #f00;
	border-right: 1px solid #f00;
	height: 200px;
	position: absolute;
}

* {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}

html {
	font-size: 15px;
	line-height: 1.5;
	height: 100%;
}

body {
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
	height: 100%;
	background-color: var(--background-color-primary);
}

h1, h2, h3, h4, h5, h6, p {
	padding-bottom: 1rem;
}

h1, h2 {
	font-weight: normal;
	font-family: "Amarante", cursive;
}

a {
	text-decoration: none;
	color: #42c4d1;
}

a:hover {
	text-decoration: underline;
}

/* FORMS */

.post form {
	display: flex;
	flex-direction: column;
	gap: var(--space);
	max-width: 400px;
	padding: var(--space);
	text-align: center;
	background-color: #ffffff;
	border-radius: var(--border-radius);
	margin-left: auto;
	margin-right: auto;
	border: solid 1px #F1F1F1;
	box-shadow: var(--box-shadow);
}

.post form input, form.nameForm input {
	padding: var(--big-space);
	border-radius: var(--border-radius);
	background-color: #F0F0F0;
	box-shadow: inset 0 0 10px #E0E0E0;
	border: none;
}

.post-form h1,
.post-form h2,
.post-form h3,
.post-form h4,
.post-form h5,
.post-form h6,
.post-form p {
	padding-bottom: 8px;
}

form input {
	width: 100%;
	font-size: 1rem;
	text-align: center;
	border: 1px solid #aaa;
	background-color: #ccc;
	color: #000;
}

form input:focus {
	outline: none;
}

form textarea:focus {
	outline: none;
}

form input[type="button"] {
	color: var(--form-button-positive-color);
	background-color: var(--form-button-positive-background-color);
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
	box-shadow: var(--box-shadow);
}

form input[type="button"]:hover:enabled {
    background-color: var(--form-button-positive-hover-background-color);
}

form input[type="button"]:active:enabled {
    background-color: var(--form-button-positive-hover-background-color);
}

form input[type="button"].disabled,
form input[type="button"]:disabled {
	color: var(--form-button-positive-color) !important;
	background-color: var(--form-button-positive-disabled-background-color) !important;
	cursor: pointer;
}

form.nameForm input {
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

form.nameForm input#nameInput {
	background-color: #EEEEEE;
	color: #000;
	margin-bottom: 10px;
}

form.nameForm input#message {
	background-color: transparent;
	color: #000;
	margin-bottom: 20px;
}

form.nameForm input#button {
	background-color: #00A6F0;
	color: #FFF;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: 20px;
}

a.button-ulule {
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	text-align: center;

	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #00A6F0;
	color: #FFF;
	font-weight: bold;
	cursor: pointer;
}



/* HEADER */

#header {
	width: 100%;
	padding: 20px;
	background-color: var(--background-color-primary);
	text-align: center;
}

#header h1 {
	margin: 0;
	padding: 0;
	font-size: 2rem;
	/* text-shadow: 0 0px 6px rgba(68, 92, 98, 0.5); */
}

#header h1 a {
	color: #FFF;
}

/* MENU */

#menu {
	background-color: var(--background-color-secondary);
	color: #ffffff;
	position: relative;
}

.wavy-border-top {
	height: 5px;
	background-image: url('/theme/img/sine.svg');
	background-size: 80px 5px;
	background-repeat: repeat-x;
	background-position: top;
	width: 100%;
	background-color: var(--background-color-primary);
	transform: rotate(180deg);
}

.wavy-border {
	height: 5px;
	background-image: url('/theme/img/sine.svg');
	background-size: 80px 5px;
	background-repeat: repeat-x;
	background-position: top;
	width: 100%;
	background-color: var(--background-color-tertiary);
}

#menu a {
	color: var(--link-color-over-secondary);
}

#menu > #area {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	line-height: 40px;
}

#menu > #area > img {
	position:absolute;
	top:10px;
	left:10px;

	width: 60px;
	height: 60px;

	border: 0;
	border-radius: 50%;
	padding: 5px;
	background-color: #fff;
	box-shadow: 0 0px 6px rgba(0,0,0,0.5);
}

@media (min-width: 700px) {
	#menu > #area {
		position: relative;
	}
	#menu > #area > img { 
		top: auto;
		bottom:10px;
		left:10px;
		width: 100px;
		height: 100px; 
	}
}

#menu > #area ul {
	text-align: center;
}
#menu > #area li {
	display: inline-block;
}
#menu > #area li a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-top: var(--small-space);
	margin-bottom: var(--small-space);
	padding-left: var(--space);
	padding-right: var(--space);
	border-radius: var(--border-radius);
	transition: background-color 0.2s ease;
	font-size: 0.9rem;
}
#menu > #area li a:hover {
	background-color: var(--link-color);
}
#menu > #area li a img {
	height: 1.5rem;
	padding-right: 0.3rem;
	vertical-align: middle;
}

@media (min-width: 700px) {
	#menu > #area li a {
		font-size: 1rem;
	}
	#menu > #area li a img {
		height: 2rem;
		padding-right: 0.5rem;
	}
}

#menu > #area ul.fa-ul {
	margin: 0;
}

#menu > #lire {
	display: none;
	background-color: var(--background-color-secondary);
	padding: 10px;
}

#menu > #lire ul { text-align: center; }
#menu > #lire li { display: inline-block; padding: 0; margin: 0;}
#menu > #lire li a { color: #eee; display: block; padding-left: 10px; padding-right: 10px;}
#menu > #lire li a:hover { /**/ }

#menu > #lire li > a {
	cursor: pointer;
	display: block;
	text-align: left; 
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
	background-color: #FFF;	
	-webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

#menu > #lire li > a:hover {
	background-color: #45c5d2;		
}

#menu > #lire li img {
	float: left;
	height: 240px;
	margin: 0;
	padding: 0;
}

#menu > #lire li .description {
	width: 250px;
	float: left;
	margin: 0;
	padding: 0;
	margin-left: 10px;
}

#menu > #lire li .description p {
	color: #000;
}

#menu > #lire li .description h2 {
	color: #324349;
}

/* CONTENT */

#content {
	background-color: var(--background-color-tertiary);
	padding: 0;
	margin: 0;
}

/*@media (min-width: 600px) {
    #content { padding: 2rem; }
}*/

/* CONTENT - POSTS */

#content #posts{
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 1.4rem 0.5rem;
}

@media (min-width: 600px) {
	#content #posts {
		padding: 1.4rem;
	}
}

#content #posts .post{
	background-color: #fff;
	padding: var(--bigger-space);
	padding-top: var(--big-space);
	padding-bottom: var(--big-space);
	border-radius: 5px;
	margin-bottom: 1.4rem;

	border: 1px solid rgba(129,146,166,0.2);
	box-shadow: var(--box-shadow);
}

#content #posts .post:last-child { 
	margin-bottom: 0;
}


#content #posts .post .title {
	/*background-color: #eee;*/
}
#content #posts .post .title h2 {
	float: left;
	font-size: 1.4rem;
}

@media (min-width: 600px) {
	#content #posts .post .title h2 {
		font-size: 2rem;
	}
}

#content #posts .post .title h2 a {
	color: #324349;
}

/* date */
#content #posts .post .title p {
	padding: 0;
	margin: 0;
	float: right;
	color: #8192a6;
}

/* CONTENT - POSTS - COMMENT FORM */

#content #comments #commentForm {
	max-width: 600px;
	background-color: #f4f4f4;
	border: 1px solid rgba(129,146,166,0.2);
	box-shadow: var(--box-shadow);
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

#content #comments #commentForm .comment-post-info p {
	text-align: center;
	padding: 0 !important;
	margin: 0 !important;
}

#content #comments #commentForm p.avatar-info {
	color: #888;
	text-align: center;
	padding: 0;
	margin: 0;
	margin-top: 4px;
	margin-bottom: 4px;
}


#content #comments #commentForm #url,
#content #comments #commentForm #email {
	max-width: 0 !important; max-height: 0 !important;
	padding: 0; margin: 0;
	background-color: transparent;
	border: none; position: absolute;
}

#content #comments #commentForm .header {
	position: relative;
	width: 100%;
	height: 80px;
	margin-bottom: 8px;
}

#content #comments #commentForm .header #commentGravatar {
	margin-bottom: 8px;
	width: 80px;
	height: 80px; 
	border-radius: 5px;
}

#content #comments #commentForm .header .nameAndEmail {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	padding-left: 88px;
}

#content #comments #commentForm textarea,
#content #comments #commentForm input[type="text"],
#content #comments #commentForm input[type="email"] {
	border-radius: 5px;
}

#content #comments #commentForm input[type="text"],
#content #comments #commentForm input[type="email"] {
	background-color: #FFF;
}

#content #comments #commentForm textarea { font-size: 1rem; margin: 0; border: none;}
#content #comments #commentForm .header .nameAndEmail #commentName { width: 100%; margin-bottom: 8px; }
#content #comments #commentForm .header .nameAndEmail #commentEmail { width: 100%; }
#content #comments #commentForm .webProfile { width: 100%; height: 36px; margin-bottom: 8px; }
#content #comments #commentForm .webProfile .left { float: left; width: 50%; padding-right: 4px; }
#content #comments #commentForm .webProfile .right { float: left; width: 50%; padding-left: 4px; }
#content #comments #commentForm #commentWebsite { width: 100%; }
#content #comments #commentForm #commentTwitter { width: 100%; }
#content #comments #commentForm #commentContent { width: 100%; padding: 8px; resize: vertical; height: 100px; }

#content #comments #commentForm label {
	display: block;
	width: 100%;
	text-align: center;
}

#content #comments #commentForm input {
	height: 36px;
	text-align: left;
	padding-left: 8px;
	padding-right: 8px;
	border: none;
}

#content #comments #commentForm input[type="checkbox"] { width: auto; height: auto; margin-right: 8px; }
#content #comments #commentForm input.mandatory { background-color: #fff; }
#content #comments #commentForm input.error { background-color: #f78778 !important; }
#content #comments #commentForm textarea.error { background-color: #f78778 !important; }

#content #comments #commentForm input[type="button"] {
	display: block; 
	text-align: center;
	margin-bottom: 10px;
	border-radius: 5px;
	color: #3b304e;
	margin-right: auto;
	margin-left: auto;
	max-width: 300px;
	box-shadow: 0px 2px 3px rgba(59,48,78, 0.2);
}

/* BLOCKS */

#content #posts .post .navigation {
	text-align: center;
}

#content #posts .post .block iframe {
	max-width: 100% !important;
}

#content #posts .post .block {
	margin-bottom: 1rem;
}
#content #posts .post .block:last-child {
	margin-bottom: 0;
}

#content #posts .post .block p {
	padding-bottom: 0;
}

#content #posts .post .block.image { text-align: center; }

#content #posts .post .block.image img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	border-radius: 5px;
}

#content #posts .post .block ul {
	margin-left: 20px;
}

#content #posts .post .block ul li {
	padding-bottom: 10px;
}

/* CTAS */

.post-ctas {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.post-ctas ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
}

.post-ctas ul li {
	display: inline-block;
	margin: var(--small-space);
	padding: var(--space);
	border-radius: var(--border-radius);
	background-color: var(--post-ctas-background-color);
	color: var(--post-ctas-color);
	border: 1px solid var(--post-ctas-border-color);
	font-size: 0.85rem;
	/* box-shadow: var(--box-shadow); */
}

@media (min-width: 600px) {
	.post-ctas ul li {
		font-size: 1rem;
	}
}

.post-ctas ul li:first-child {
	margin-left: var(--small-space);
}

@media (min-width: 600px) {
	.post-ctas ul li:first-child {
		margin-left: 1rem;
	}
}

.post-ctas ul li:last-child {
	margin-right: var(--small-space);
}

@media (min-width: 600px) {
	.post-ctas ul li:last-child {
		margin-right: 1rem;
	}
}

.post-ctas ul li a {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: var(--post-ctas-color);
	padding: 0;
	margin: 0;
}

.post-ctas ul li a img {
	display: inline-block;
	height: 1.2rem;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	margin-right: 0.4rem;
}

@media (min-width: 600px) {
	.post-ctas ul li a img {
		height: 1.4rem;
		margin-right: 0.5rem;
	}
}

/* POST NAVIGATION (previous, next and comments links) */

.post-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-end;
	margin-top: 1rem;
}

.post-navigation.center {
	justify-content: center;
	align-items: center;
}

.post-navigation .post-navigation-block {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	/* border: 1px solid #ccc; */
	margin: 0;
	padding: 0;
}

.post-navigation .post-navigation-block p {
	padding-bottom: 0;
	margin-bottom: 0;
}

.post-navigation .post-navigation-block.center { justify-content: center; text-align: center; }
.post-navigation .post-navigation-block.left { justify-content: left; text-align: left; }
.post-navigation .post-navigation-block.right { justify-content: right; text-align: right; }


.post-navigation a {
	display: flex;
	vertical-align: middle;
}

.post-navigation a img {
	display: inline-block;
	height: 1.4rem;
	margin-right: var(--space);
	margin-left: var(--space);
}

.post-navigation a.comments-link {
	font-family: "Amarante", cursive;
	font-size: 1.2rem;
}

.post-navigation a.comments-link img {
	height: 2rem;
	margin-right: var(--space);
	margin-left: 0;
}

/* COMMENTS */

#initial-comment-form-container {
	padding-top: 20px;
}

#content #comments {
	padding: 0;
	margin: 0;
	background-color: #ffc59c;
	background: url('/theme/img/comments-background.jpg') repeat;
	background-size: auto 4rem;
	background-position-y: -2rem;
	background-position-x: -2rem;
}

#content #comments .comments {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
}

#content #comments .comments .comment-block {
	margin-bottom: 10px;
	border-radius: 5px;
}

#content #comments .comments .comment-block:last-child { margin-bottom: 0px !important; }

#content #comments .comments .comment {
	position: relative;
	background-color: rgba(0,0,0,0.01);
	padding: 10px;
	margin-left: 40%;
	overflow-wrap: break-word;
  	word-wrap: break-word;
}

#content #comments .comments .comment .options {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 3;
}

#content #comments .comments .comment a {
	color: #45c5d2;
}

#content #comments .comments .comment a.answer {
	display: inline-block;
	float: right;
	padding: 0;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
	background-color: rgba(129,146,166,0.07);
	color:  rgba(129,146,166,0.5);
	border: 1px solid rgba(129,146,166,0.2);
}

#content #comments .comments .comment a.answer-left {
	display: inline-block;
	float: left;
	padding: 0;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.12);
	color: #FFF;
}

#content #comments .comments .comment a.answer:hover {
	text-decoration: none;
	background-color: rgba(129,146,166,0.5);
	color: #FFF;
}

#content #comments .comments .comment .options a.starred-on {
	color: #FFFFFF;
}

#content #comments .comments .comment .options a.starred-on:hover {
	color: #666;
}

#content #comments .comments .comment .options a.starred-off {
	color: #666;
}

#content #comments .comments .comment .options a.starred-off:hover {
	color: #FFD94A;
}

#content #comments .comments .comment .options a.trash {
	color: #666;
}

#content #comments .comments .comment .options a.trash:hover {
	color: #CC3333;
}

#content #comments .comments .comment.starred {
	background-color: #FFD94A !important;
}

#content #comments .comments .comment.laurel {
	background-color: #dcfff4 !important;
}

#content #comments .comments .comment.adrien {
	background-color: #dcedff !important;
}

#content #comments .comments .comment {
	margin-left: 32%; background-color: rgba(255, 255, 255, 0.75);
	box-shadow: var(--box-shadow);
}
#content #comments .comments .comment.indent-0 { margin-left: 0; background-color: rgba(255, 255, 255, 0.95); }
#content #comments .comments .comment.indent-1 { margin-left: 4%; background-color: rgba(255, 255, 255, 0.9); }
#content #comments .comments .comment.indent-2 { margin-left: 8%; background-color: rgba(255, 255, 255, 0.85); }
#content #comments .comments .comment.indent-3 { margin-left: 12%; background-color: rgba(255, 255, 255, 0.8); }
#content #comments .comments .comment.indent-4 { margin-left: 16%; }
#content #comments .comments .comment.indent-5 { margin-left: 20%; }
#content #comments .comments .comment.indent-6 { margin-left: 24%; }
#content #comments .comments .comment.indent-7 { margin-left: 28%; }
#content #comments .comments .comment.indent-8 { margin-left: 32%; }


#content #comments .comments .comment h3 {
	font-weight: normal;
	font-family: "Amarante", cursive;
	color: #333;
	padding-bottom: 8px;
}

#content #comments .comments .comment img,
#content #comments .comments .comment h3,
#content #comments .comments .comment p,
#content #comments .comments .comment a {
	position: relative;
	z-index: 3;
}

#content #comments .comments .comment h3 .date {
	font-size: 1rem;
	color: #666;
	font-family: "Montserrat", sans-serif;
	font-weight: normal;
}

#content #comments .comments .comment p { 
	padding-bottom: 10px;
}

#content #comments .comments .comment img.avatar {
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

#content #comments .comments .comment img.avatar-right {
	float: right;
	width: 80px;
	height: 80px;
	margin-left: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

#content #archives-info {
	text-align: center;
	padding: 20px;
}

#content #archives-info h2 {
	padding: 0;
	margin: 0;
}

#content #pages {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 20px;
	color: #3b304e;
}

#content #pages .page-link {
	display: inline-block;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
	background-color: var(--page-button-background-color);
	color: var(--page-button-color);
	border: 1px solid var(--page-button-border-color);
	-webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

#content #pages .page-link:hover {
	text-decoration: none;
	background-color: var(--page-button-background-color-selected);
	color: var(--page-button-color-selected);
	border: 1px solid var(--page-button-border-color-selected);
}

#content #pages .page-link.current {
	background-color: var(--page-button-background-color-selected);
	color: var(--page-button-color-selected);
	border: 1px solid var(--page-button-border-color-selected);
}

#content #newsletterSettings {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

#content #newsletterSettings p {
	text-align: center;
}

/* FOOTER */

#footer {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #FFFFFF;
	padding-right: 5px;
	padding-left: 5px;
}

#footer a {
	color: #c3a7ff;
}

#footer a:hover {
	color: var(--link-color);
}

#footer #cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#footer #cards .card {
	width: fit-content;
	max-width: calc(100% - 1rem);
	padding: 1rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	text-align: center;
	background-color: var(--background-color-secondary);
	border-radius: 5px;
	color: var(--text-color-over-secondary);
	margin-bottom: 1rem;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

#footer #cards .card:last-child {
	margin-bottom: 0;
}

#footer #cards .card a {
	color: var(--link-color-over-secondary);
	display: flex;
	align-items: center;
	justify-content: center;
}

#footer #cards .card a:hover {
	color: var(--link-color-over-secondary);
}

#footer #cards .card ul { list-style: none; }

#footer #cards .card h2 {
	font-size: 1.2rem;
	color: var(--title-color-over-secondary);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

@media (min-width: 600px) {
	#footer #cards .card h2 {
		font-size: 1.3rem;
	}
}

#footer #cards .card h2 img {
	display: inline-block;
	height: 1.6rem;
	padding-right: 0.5rem;
	vertical-align: middle;
}

@media (min-width: 600px) {
	#footer #cards .card h2 img {
		height: 1.8rem;
		padding-right: 0.6rem;
	}
}

#footer #cards .card h2 p {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0;
}

#footer #cards .card ul li a {
	font-size: 0.9rem;
	word-break: break-word;
}

@media (min-width: 600px) {
	#footer #cards .card ul li a {
		font-size: 1rem;
	}
}

#footer #cards .card ul li a img {
	display: inline-block;
	height: 0.9rem;
	vertical-align: middle;
	margin-right: 0.4rem;
}

@media (min-width: 600px) {
	#footer #cards .card ul li a img {
		height: 1rem;
		margin-right: 0.5rem;
	}
}

#footer #cards .card ul li a svg {
	display: inline-block;
	height: 0.9rem;
	width: auto;
	vertical-align: middle;
	margin-right: 0.4rem;
}

@media (min-width: 600px) {
	#footer #cards .card ul li a svg {
		height: 1rem;
		margin-right: 0.5rem;
	}
}

#footer #cards .card ul li a svg path {
	fill: var(--link-color-over-secondary);
	stroke: var(--link-color-over-secondary);
}

#footer #cards .card ul li a p {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0;
}

#footer #cards .card ul li select {
	margin-top: 0.5rem;
}

#footer #cards .card h1,
#footer #cards .card h3,
#footer #cards .card h4,
#footer #cards .card h5,
#footer #cards .card h6,
#footer #cards .card p {
	padding-bottom: 0.5rem;
	font-size: 0.9rem;
}

@media (min-width: 600px) {
	#footer #cards .card h1,
	#footer #cards .card h3,
	#footer #cards .card h4,
	#footer #cards .card h5,
	#footer #cards .card h6,
	#footer #cards .card p {
		font-size: 1rem;
	}
}

#footer #cards .card form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

#footer #cards .card form input {
	max-width: 180px;
	width: 180px;
	padding: 0.5rem;
	border-radius: 5px;
	border: none;
	font-size: 0.9rem;
}

@media (min-width: 600px) {
	#footer #cards .card form input {
		max-width: 160px;
		width: 160px;
		font-size: 1rem;
	}
}

#footer #cards .card form input[type="email"] {
	background-color: #FFF !important;
	color: #3b304e !important;
}

#footer #cards .card form input[type="checkbox"] {
	margin-right: 8px;
}

p.newsletter-error {
	display: none;
	color: #ee508d;
}

select {
	cursor: pointer;
	font-size: 1rem;
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
	background:url("data:image/svg+xml;utf8,<svg fill='#FFF' xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
	background-color: #e3d7fd;
	background-repeat:no-repeat;
  	background-position: right 5px top 5px;
  	background-size: 16px 16px;
	color:#3b304e;
	padding: 5px;
	padding-left: 7px;
	max-width: 150px;
	width: 100%;
	border-radius: 5px;
	-webkit-border-radius:3px;
  	-webkit-appearance: none;
  	border:0;
  	outline:0;
  	-webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

select:hover {
  background-color:#c3a7ff;
}

select:focus,
select:active {
  border:0;
  outline:0;
}

@media (min-width: 600px) {
	#footer #cards {
		flex-direction: row;
		align-items: start;
	}
	#footer #cards .card {
		flex: 1;
		margin-bottom: 0;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		min-width: 10rem;
	}
}

.book {
	position: relative;
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
}

.book img {
	width: 100%;
	box-shadow: 0px 2px 5px #aaa;
}

.book a:hover img {
	opacity: 0.7;
}

.book .bookmark {
	display: none;
	position: absolute;
	background-image: url("/files/gallery/bookmark-background.png");
	background-repeat: no-repeat;
	background-size: contain;
	top: -9px;
	left: 15px;
	width: 100px;
	height: 146px;
	pointer-events: none;
}

.bookmark p {
	padding-top: 30px;
	font-family: "Amarante", cursive;
	font-weight: normal;
	font-size: 28px;
	line-height: 34px;
	padding-left: 7px;
	color: #FFF;
	text-align: center;
}

.book p {
	text-align: center;
}



/*********
** READER
*********/

#reader {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 800px;
	background-color: #FFF;
}

#reader #page-container {
	position: absolute;
	top: 0;
	bottom: 50px;
	left: 0;
	right: 0;
}

#reader #page-container #page {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */ 
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;

	/* border: 1px solid red; */
	/* https://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-a-div */
	white-space: nowrap; /* this is required unless you put the helper span closely near the img */
	text-align: center;
}

#reader #page-container #page .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#reader #page-container #page img  {
	pointer-events: none;
	vertical-align: middle;
	max-height: 100%;
	max-width: 100%;
	padding: 10px;
}

#reader a.close {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	padding-top: 10px;
	padding-right: 10px;
}

#reader a.close img {
	width: 100%;
	height: 100%;
}

#reader a.close:hover img {
	opacity: 0.7;
}

#reader-navigation {
	display: none;
	position: fixed;
	text-align: center;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: #3b304e;
}

#reader-navigation a {
	font-size: 1.1rem;
	display: inline-block;
	color: #f8f0e3;
	line-height: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

#reader-navigation a:hover {
	background-color: #211a2e;
	text-decoration: none;
}

#reader-navigation select {
	font-size: 1.1rem;
	display: inline-block;
	color: #45c5d2;
	border: none;
	-webkit-appearance: none;
	box-shadow: none !important;
	-moz-appearance: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	appearance: none;
	background-color: transparent;
	border-radius: 0;
	outline: none;
	height: 50px;
	padding: 0;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	line-height: 50px;
	max-width: auto;
	width: auto;
	background-image: none;
}

#reader-navigation select:hover {
	background-color: #211a2e;
	text-decoration: none;
}

#reader-navigation select * {
	text-align: center;
}

#reader-navigation select::-ms-expand {
	display: none;
}

/* DONATE FORMS */

form .donate-options {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: left;
	gap: var(--space);
}

form .donate-options .donate-option {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--space);
	border-radius: var(--border-radius);
	padding: 0.2rem;
}

form .donate-options .donate-option.selected {
	background-color: #E3D7FD;
}

form .donate-options .donate-option input[type="radio"] {
	width: auto;
	flex: 0.1;
	margin-left: 1rem;
}

form .donate-options .donate-option span,
form .donate-options .donate-option input[type="text"] {
	width: auto !important;
	flex: 0.9 !important;
}

form .donate-options .donate-option input[type="text"] {
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 0 10px rgba(206, 206, 206, 0.5);
	border: none;
}

form .donate-frequency {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--space);
	padding: 0.4rem;
	border-radius: var(--border-radius);
	background-color: #f8f8fc;
}

form .donate-frequency .frequency-option {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--space);
}

form .donate-frequency .frequency-option > * {
	width: auto;
}

/* SHOP */

.shop-articles {
	display: flex;
	flex-wrap: wrap;
	/* align-items: left; */
	gap: var(--big-space);
	justify-content: center;
}

.shop-articles .shop-article {
	/* width: 16rem; */
	max-width: 45%;
	display: flex;
	flex-direction: column;
	gap: var(--space);
	padding: var(--big-space);
	background-color: #f8f8fc;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	border-radius: var(--border-radius);
}

.shop-articles .shop-article h2 {
	font-size: 1.3rem;
	margin: 0;
	padding: 0;
}

.shop-articles .shop-article p {
	/* font-size: 1rem; */
}

.shop-articles .shop-article img {
	width: 100%;
	aspect-ratio: 4 / 3;
	background-color: #F0EFF5;
	margin: 0;
	border: none;
	border-radius: var(--border-radius);
	overflow: hidden;
	object-fit: cover;
	object-position: center; 
}

.shop-articles .shop-article .shop-article-button {
	padding: 0.5rem 1rem;
	border-radius: var(--border-radius);
	background-color: #45c5d2;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 1.1rem;
	text-decoration: none;
	box-shadow: var(--box-shadow);
	margin-top: auto;
}

/* UTILS */

.clear { clear: both; }

.image-bubbles img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border: none;
	background-color: #555;
}

.image-bubbles a:hover img { border: 2px solid #45c5d2; }

::-webkit-input-placeholder { color: #888; } /* Chrome/Opera/Safari */
::-moz-placeholder { color: #888; } /* Firefox 19+ */
:-ms-input-placeholder { color: #888; } /* IE 10+ */
:-moz-placeholder { color: #888; } /* Firefox 18- */

