.devBounds {
	width: 800px;
	border-left: 1px solid #f00;
	border-right: 1px solid #f00;
	height: 200px;
	position: absolute;
}

* {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	font-size: 1.5em;
	line-height: 1.5em;
	font-weight: 400;
	font-family: "Raleway", sans-serif;
	height: 100%;
	background-color: #ddd;
}

h1, h2, h3, h4, h5, h6, p {
	padding-bottom: 2rem;
}

h1, h2 {
	font-weight: normal;
	font-family: "Lobster", cursive;
}

a {
	text-decoration: none;
	color: #777;
}

a:hover {
	text-decoration: underline;
}

/* FORMS */

form input {
	width: 100%;
	font-size: 1.3rem;
	text-align: center;
	border: 1px solid #aaa;
	background-color: #ccc;
	color: #000;
}

form input:focus {
	outline: none;
}

form textarea:focus {
	outline: none;
}

form input[type="button"] {
	color: #111;
	background-color: #4EF9BE;
	cursor: pointer;
	-webkit-appearance: none;
}

form input[type="button"]:hover:enabled {
    background-color: #4EF9D2;
}

form input[type="button"]:active:enabled {
    background-color: #4EF9FF;
}

form input[type="button"]:disabled {
	color: #999;
	background-color: #ddd;
	cursor: default;
}

/* HEADER */

#header {
	width: 100%;
	padding: 20px;
	background-color: #eee;
	text-align: center;
}

#header h1 {
	margin: 0;
	padding: 0;
	font-size: 30px;
	line-height: 40px;
}

/* MENU */

#menu > #area {
	
	max-width: 800px;
	/*height: 40px;*/
	margin-right: auto;
	margin-left: auto;
	line-height: 40px;
}

#menu > #area > img {
	position:absolute;
	top:10px;
	left:10px;

	width: 60px;
	height: 60px;

	border: 1px solid #999;
	border-radius: 4px;
	padding: 3px;
	background-color: #fff;
}

@media (min-width: 700px) {
	#menu > #area {
		position: relative;
	}
	#menu > #area > img { 
		top: auto;
		bottom:10px;
		left:10px;
		width: 100px;
		height: 100px; 
	}
}

#menu > #area ul { text-align: center; }
#menu > #area li { display: inline-block; }
#menu > #area li a { display: block; padding-left: 10px; padding-right: 10px;}
#menu > #area li a:hover { background-color: #ccc; }

#menu > #lire {
	display: none;
	background-color: #777;
	/*max-width: 800px;
	margin-right: auto;
	margin-left: auto;*/
	line-height: 40px;
}

#menu > #lire ul { text-align: center; }
#menu > #lire li { display: inline-block; }
#menu > #lire li a { color: #eee; display: block; padding-left: 10px; padding-right: 10px;}
#menu > #lire li a:hover { /**/ }

/* CONTENT */

#content {
	background-color: #fff;
	padding: 0;
}

/*@media (min-width: 600px) {
    #content { padding: 2rem; }
}*/

/* CONTENT - POSTS */

#content #posts{
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#content #posts .post{
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
}

#content #posts .post:last-child { 
	border-bottom: none;
}


#content #posts .post .title {
	/*background-color: #eee;*/
}
#content #posts .post .title h2 {
	float: left;
}

/* date */
#content #posts .post .title p {
	padding: 0;
	margin: 0;
	float: right;
	color: #999;
}

/* CONTENT - POSTS - COMMENT FORM */

#content #posts .post #commentForm {
	max-width: 600px;
	background-color: #eee;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

#content #posts .post #commentForm .comment-post-info p {
	text-align: center;
	padding: 0 !important;
	margin: 0 !important;
}

#content #posts .post #commentForm #url,
#content #posts .post #commentForm #email {
	max-width: 0 !important; max-height: 0 !important;
	padding: 0; margin: 0;
	background-color: transparent;
	border: none; position: absolute;
}

#content #posts .post #commentForm .header {
	position: relative;
	width: 100%;
	height: 80px;
	margin-bottom: 8px;
}

#content #posts .post #commentForm .header #commentGravatar {
	margin-bottom: 8px;
	width: 80px;
	height: 80px; 
	border-radius: 4px;
}

#content #posts .post #commentForm .header .nameAndEmail {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	padding-left: 88px;
}

#content #posts .post #commentForm textarea,
#content #posts .post #commentForm input[type="text"],
#content #posts .post #commentForm input[type="email"] {
	border-radius: 4px;
}

#content #posts .post #commentForm input[type="text"],
#content #posts .post #commentForm input[type="email"] {
	background-color: #ddd;
}

#content #posts .post #commentForm textarea { font-size: 1.3rem; line-height: 2.0rem; margin: 0; border: 1px solid #ccc;}
#content #posts .post #commentForm .header .nameAndEmail #commentName { width: 100%; margin-bottom: 8px; }
#content #posts .post #commentForm .header .nameAndEmail #commentEmail { width: 100%; }
#content #posts .post #commentForm .webProfile { width: 100%; height: 36px; margin-bottom: 8px; }
#content #posts .post #commentForm .webProfile .left { float: left; width: 50%; padding-right: 4px; }
#content #posts .post #commentForm .webProfile .right { float: left; width: 50%; padding-left: 4px; }
#content #posts .post #commentForm #commentWebsite { width: 100%; }
#content #posts .post #commentForm #commentTwitter { width: 100%; }
#content #posts .post #commentForm #commentContent { width: 100%; padding: 8px; resize: vertical; height: 100px; }

#content #posts .post #commentForm label {
	display: block;
	width: 100%;
	text-align: center;
}

#content #posts .post #commentForm input {
	height: 36px;
	text-align: left;
	padding-left: 8px;
	padding-right: 8px;
	border: none;
}

#content #posts .post #commentForm input[type="checkbox"] { width: auto; height: auto; margin-right: 8px; }
#content #posts .post #commentForm input.mandatory { background-color: #fff; }
#content #posts .post #commentForm input.error { background-color: #f78778 !important; }

#content #posts .post #commentForm input[type="button"] { 
	background-color: #67CFEC;
	text-align: center;
	margin-bottom: 8px; 
	border-radius: 4px;
}

/* BLOCKS */

#content #posts .post .navigation {
	font-size: 1.1em;
	text-align: center;
}

#content #posts .post .number-of-comments {
	font-size: 1.1em;
	text-align: center;
	/*margin-bottom: 20px;*/
}

#content #posts .post .block {
	margin-bottom: 20px;
}
#content #posts .post .block:last-child {
	margin-bottom: 0;
}

#content #posts .post .block p {
	padding-bottom: 0;
}

#content #posts .post .block.image { text-align: center; }

#content #posts .post .block.image img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	border-radius: 4px;
}

/* COMMENTS */

#initial-comment-form-container {
	padding-top: 20px;
}

#content #posts .post .comments {
	padding-top: 20px;
}

#content #posts .post .comments .comment-block {
	margin-bottom: 10px;
	border-radius: 4px;
}

#content #posts .post .comments .comment-block:last-child { margin-bottom: 0px !important; }

#content #posts .post .comments .comment {
	position: relative;
	background-color: rgba(0,0,0,0.01);
	padding: 10px;
	margin-left: 40%;
}

#content #posts .post .comments .comment .options {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 3;
}

#content #posts .post .comments .comment .options a.starred-on {
	color: #FFFFFF;
}

#content #posts .post .comments .comment .options a.starred-on:hover {
	color: #666;
}

#content #posts .post .comments .comment .options a.starred-off {
	color: #666;
}

#content #posts .post .comments .comment .options a.starred-off:hover {
	color: #FFD94A;
}

#content #posts .post .comments .comment .options a.trash {
	color: #666;
}

#content #posts .post .comments .comment .options a.trash:hover {
	color: #CC3333;
}


#content #posts .post .comments .comment.starred {
	background-color: #FFD94A !important;
}
#content #posts .post .comments .comment.indent-0 { margin-left: 0; background-color: rgba(0,0,0,0.09); }
#content #posts .post .comments .comment.indent-1 { margin-left: 10%; background-color: rgba(0,0,0,0.07); }
#content #posts .post .comments .comment.indent-2 { margin-left: 20%; background-color: rgba(0,0,0,0.05); }
#content #posts .post .comments .comment.indent-3 { margin-left: 30%; background-color: rgba(0,0,0,0.03); }

#content #posts .post .comments .comment h3 {
	font-weight: normal;
	font-family: "Lobster", cursive;
	color: #333;
	padding-bottom: 1rem;
}

#content #posts .post .comments .comment img,
#content #posts .post .comments .comment h3,
#content #posts .post .comments .comment p,
#content #posts .post .comments .comment a {
	position: relative;
	z-index: 3;
}

#content #posts .post .comments .comment h3 .date {
	font-size: 1.5rem;
	color: #666;
	font-family: "Raleway", sans-serif;
	font-weight: normal;
}

#content #posts .post .comments .comment p { padding-bottom: 1rem; }

#content #posts .post .comments .comment img.avatar {
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 1rem;
	margin-bottom: 1rem;
	border-radius: 4px;
}

#content #archives-info {
	text-align: center;
	padding: 20px;
}

#content #archives-info h2 {
	padding: 0;
	margin: 0;
}

#content #pages {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 20px;
}

#content #pages .page-link {
	display: inline-block;
	padding: 10px;
	margin: 5px;
	background-color: #ccc;
}

#content #pages .page-link.current {
	background-color: #4EF9BE;
}

#content #newsletterSettings {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

#content #newsletterSettings p {
	text-align: center;
}

/* FOOTER */

#footer {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ddd;
	text-align: center;
	color: #777;
	padding-right: 5px;
	padding-left: 5px;
}

#footer #sections {
	position: relative;
	margin-bottom: 2rem;
}

#footer #sections .group {
	width: 50%;
	float: left; 
}

#footer #sections .group .itemWrapper {
	width: 100%;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	float:left;
}


#footer #sections .group .item {
	padding: 10px;
	text-align: center;
	/*border: 1px solid #999;*/
	background-color: #eee;
	border-radius: 4px;
}

#footer #sections .group .item ul { list-style: none; }

#footer #sections .group .item h2 {
	font-size: 2.0rem; color: #666;
	padding-bottom: 1rem;
}

#footer #sections .group .item h1,
#footer #sections .group .item h2,
#footer #sections .group .item h3,
#footer #sections .group .item h4,
#footer #sections .group .item h5,
#footer #sections .group .item h6,
#footer #sections .group .item p {
	padding-bottom: 1rem;
}

#footer #sections .group .item form input {
	max-width: 150px;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
	border-radius: 4px;
	border: none;
}


@media (min-width: 700px) {
	#footer #sections .group .itemWrapper { width: 50%; }
}


.book {
	position: relative;
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
}

.book img {
	width: 100%;
	box-shadow: 0px 2px 5px #aaa;
}

.book a:hover img {
	opacity: 0.7;
}

.book .bookmark {
	display: none;
	position: absolute;
	background-image: url("/files/gallery/bookmark-background.png");
	background-repeat: no-repeat;
	background-size: contain;
	top: -9px;
	left: 2.2rem;
	width: 100px;
	height: 146px;
	pointer-events: none;
}

.bookmark p {
	padding-top: 2rem;
	font-family: "Lobster", cursive;
	font-weight: normal;
	font-size: 2.5rem;
	line-height: 3.0rem;
	padding-left: 7px;
	color: #fff
}

.book p {
	text-align: center;
}



/*********
** READER
*********/

#reader {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 800px;
	background-color: #FFF;
}

#reader #page-container {
	position: absolute;
	top: 0;
	bottom: 50px;
	left: 0;
	right: 0;
}

#reader #page-container #page {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */ 
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;

	/* border: 1px solid red; */
	/* https://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-a-div */
	white-space: nowrap; /* this is required unless you put the helper span closely near the img */
	text-align: center;
}

#reader #page-container #page .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#reader #page-container #page img  {
	pointer-events: none;
	vertical-align: middle;
	max-height: 100%;
	max-width: 100%;
	padding: 10px;
}

#reader a.close {
	position: absolute;
	top: 0;
	right: 0;
	width: 4rem;
	height: 4rem;
	padding-top: 1rem;
	padding-right: 1rem;
}

#reader a.close img {
	width: 100%;
	height: 100%;
}

#reader a.close:hover img {
	opacity: 0.7;
}

#reader-navigation {
	display: none;
	position: fixed;
	text-align: center;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: #292b4b;
}

#reader-navigation a {
	display: inline-block;
	font-size: 1.6rem;
	color: #a8cada;
	line-height: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

#reader-navigation a:hover {
	background-color: #3c3f6e;
	text-decoration: none;
}

#reader-navigation select {
	display: inline-block;
	color: #27a0dd;
	border: none;
	-webkit-appearance: none;
	box-shadow: none !important;
	-moz-appearance: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	appearance: none;
	background-color: transparent;
	border-radius: 0;
	outline: none;
	height: 4rem;
	padding: 0;
	margin: 0;
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: center;
	line-height: 4rem;
	font-size: 1.6rem;
}

#reader-navigation select:hover {
	background-color: #3c3f6e;
	text-decoration: none;
}

#reader-navigation select * {
	text-align: center;
}

#reader-navigation select::-ms-expand {
	display: none;
}

/* UTILS */

.clear { clear: both; }

.image-bubbles img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border: none;
	background-color: #555;
}

.image-bubbles a:hover img { border: 2px solid #555; }

::-webkit-input-placeholder { color: #888; } /* Chrome/Opera/Safari */
::-moz-placeholder { color: #888; } /* Firefox 19+ */
:-ms-input-placeholder { color: #888; } /* IE 10+ */
:-moz-placeholder { color: #888; } /* Firefox 18- */
