extends layout

block head
	script(src='/js/nicEdit.js')
	script(src='/js/functions-common.js')
	script(src='/js/functions-admin.js')
	link(rel='stylesheet', href='/admin.css')

block content
	.navigation
		ul
			li
				.styled-select
					select#langSelector
						option(value="en") en
						option(value="fr") fr
			li 
				a(href="/admin/new") + Post
			li 
				a(href="/admin/posts/en") Posts
			li 
				a(href="/admin") + Page
			li 
				a(href="/admin") Pages
			li 
				a(href="/admin/comments") Comments

			li 
				a(href="/admin/config/en") Prefs

	.clearboth
	

	block pagecontent
	
