extends admin

block pagecontent

	h2 New post
		
	#content_blocks
		div#block0.edit_post_zone.backgroundLevel_8.block_title
			input(class="title_field" type="text" value="Title")

	div(id="trash" class="trash")
		| Trash

	div.edit_post_zone.backgroundLevel_1
	
		.navigation
			ul
				li
					a(href="#" onclick="addTextBlock(this)") Text
				li
					a(href="#" onclick="addImageBlock(this)") Image
				li
					a(href="#") Video
		.clearboth


	div.edit_post_zone.backgroundLevel_1
		//p English
		//input(id="lang_en" style="float:left;" name="lang" type="radio" value="en")
		//p Français
		//input(id="lang_fr" style="float:left;" name="lang"  type="radio" value="fr")
		
		
		.navigation
			ul
				li
					a(href="#" onclick="reorder(this)") reorder/delete blocks
				li
					a(href="#" onclick="sendPost(this)") Post
					
		.clearboth
		
				

	form(name="upload_file_form" id="upload_file_form" action="" method="POST" enctype="multipart/form-data" style="display:none")
		input(id="upload_file_input" name="upload_file_input" type="file" style="display:none" onChange="sendImage(this)")

	#myNicPanel