extends admin


block pagecontent

	h2 Posts (#{lang})

	.list
		ul
			- each post in posts
				- each block in post.blocks
					if (block.type == "title")
						li 
							a(href="/admin/edit/" + post.ID) #{block.text} 


	#myNicPanel