extends admin


block pagecontent

	h2 Preferences (#{lang})

	.list
		.navigation
			ul
				- each pref,prefKey in prefs
					li
						p
							| #{prefKey} 
							a.backgroundRed(href="#" onclick="alert('work in progress')") Delete
							
						.clearboth
						textarea(type="text") #{pref}
		.clearboth
	
	
	div.edit_post_zone.backgroundLevel_1
		.navigation
			ul
				li
					a(href="#" onclick="alert('work in progress')") Update
		.clearboth
	
	
	div.edit_post_zone.backgroundLevel_1
		.navigation
			ul
				li
					input#addKey(type="text" value="KEY" onfocus="if(this.value == 'KEY') { this.value = ''; }")
				li
					a(href="#" onclick="configAddKey(this)") Add
				li
					textarea#addValue(type="text" onfocus="if(this.value == 'VALUE') { this.value = ''; }") VALUE
		.clearboth
		
					
	#myNicPanel
	div(style="height:20px;")