doctype html
html
  head
    title #{siteName}
    meta(name="keywords" content="laurel, comics, drawings, art, illustration, games, grub, pixowl")
    meta(name="description" content="I'm Laurel, a professional french comic book artist and writer living in California. I work also on mobile games.")
    script(src='/js/jquery.js')
    script(src='/js/jquery-ui.js')
    link(rel='stylesheet', href='/js/jquery-ui.css')
    block head

  body 
    block structure