<!-- original comment -->

<div style="font-size: 16px; font-family: Helvetica; min-width: 100px; max-width: 800px; margin: 0; padding: 0;">

	<!-- original -->
	<div style=" background-color: rgba(0,0,0,0.09); border-radius: 3px; border: none; margin: 0; margin-bottom: 10px; padding: 10px;">
	    <div style="padding: 4px; margin: 0">
	        <strong>{{ .Original.Name }}</strong>
	    </div>
	    <div style="padding: 4px; margin: 0;">{{ .Original.Content }}</div>
	</div>

	<!-- answer -->
	<div style="background-color: rgba(0,0,0,0.09); border-radius: 3px; border: none; margin: 0; margin-bottom: 10px; padding:10px;">
	    <div style="padding: 4px; margin:0;">
	        <strong>{{ .Answer.Name }}</strong>
	    </div>
	    <div style="padding: 4px; margin:0">{{ .Answer.Content }}</div>
	</div>

	<a style="box-shadow: 0px 2px 3px rgba(59,48,78, 0.2); color: #3b304e; text-decoration: none; border-radius: 3px; background-color: #a2f647; display: block; max-width: 400px; margin: 0; margin-bottom: 10px; padding: 10px; text-align: center;" clicktracking=off href="{{ .Host }}/post/{{ .Answer.PostID }}#com{{ .Answer.ID }}">{{ .Button }}</a>

</div>