<div style="min-width: 100px; max-width: 600px; margin: 0; margin-left: auto; margin-right: auto;">
	<p style="margin: 0; padding: 0; margin-bottom: 20px; text-align: center;">{{ .Message1 }}</p>

	<a style="font-weight: bold; border: 2px solid #8a74cd; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); color: #ffffff; text-decoration: none; border-radius: 5px; background-color: #b299ff; display: block; max-width: 400px; margin: 0; margin-left: auto; margin-right: auto; margin-bottom: 20px; padding: 10px; text-align: center;" clicktracking=off href="{{ .Host }}/email/confirm/{{ .EmailHash }}/{{ .EmailKey }}">{{ .Confirm }}</a>

	<p style="margin: 0; padding: 0; margin-bottom: 20px; text-align: center;">{{ .Message2 }}</p>

	<p style="margin: 0; padding: 0; margin-bottom: 20px; text-align: center;">{{ .Signature }}</p>
</div>
