
<div style="font-size: 16px; font-family: Helvetica; min-width: 100px; max-width: 800px; margin: 0; margin-left: auto; margin-right: auto;">

	<div style="text-align: center; padding: 0; margin: 0; margin-top: 10px;">
		<div style="display: inline-block; padding: 0; margin: 0;">
			<img style="float: left; width: 80px; height: 80px;" src="http://graph.facebook.com/100005287202424/picture?type=large"/>
			<h1 style="float: left; margin: 0; margin-left: 20px; line-height: 80px;">{{ .Post.Title }}</h1>
			<div style="clear: both;"></div>
		</div>
	</div>

	<div style="margin: 0; padding: 20px;">
		{{ $host := .Host }}
		{{ range .Post.Blocks }}
			{{ if eq .type "text" }}
				<p>{{ .text }}</p>
			{{ else if eq .type "html" }}
				{{ .data }}
			{{ else if eq .type "image" }}
				<p style="text-align: center;">{{ if ne .url "" }}<a clicktracking=off href="{{.url}}">{{end}}<img style="max-width: 100%; display: inline-block;" src="{{ $host }}{{ .path }}" alt="{{.description}}"{{ if .retina }} srcset="{{ $host }}{{ .retina }} 2x"{{ end }}>{{ if ne .url "" }}</a>{{end}}</p>
			{{ end }}
		{{ end }}
	</div>

</div>
