* {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	font-size: 1.5em;
	line-height: 1.5em;
	font-weight: 400;
	font-family: "Raleway", sans-serif;
	height: 100%;
	background-color: #ddd;
}

h1, h2, h3, h4, h5, h6, p {
	padding-bottom: 2rem;
}

h1, h2 {
	font-weight: normal;
	font-family: "Lobster", cursive;
}

a {
	text-decoration: none;
	color: #777;
}

a:hover {
	text-decoration: underline;
}

/* HEADER */

#header {
	width: 100%;
	padding: 2rem;
	background-color: #eee;
	text-align: center;
}

#header h1 {
	margin: 0;
	padding: 0;
	font-size: 3.0rem;
	line-height: 3.0rem;
}

/* MENU */

#menu {

}

#menu ul {
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu li a {
	display: block;
	padding: 1rem;
}

#menu li a:hover {
	background-color: #ccc;
}

/* CONTENT */

#content {
	background-color: #fff;
	padding: 0;
}

@media (min-width: 600px) {
    #content {
		padding: 2rem;
	}
}

/* CONTENT - POSTS */

#content #posts{
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#content #posts .post{
	padding: 2rem;
	box-shadow: 0px 1px 3px #ccc;
	margin-bottom: 2rem;
}

#content #posts .post.last {
	margin-bottom: 0;	
}

/* CONTENT - POSTS - COMMENT FORM */

#content #posts .post #commentForm {
	max-width: 600px;
	background-color: #eee;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
}

#content #posts .post #commentForm #url,
#content #posts .post #commentForm #email {
	max-width: 0 !important;
	max-height: 0 !important;
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: none;
	position: absolute;
}

#content #posts .post #commentForm .header {
	position: relative;
	width: 100%;
	height: 80px;
	margin-bottom: 8px;
}

#content #posts .post #commentForm .header #commentGravatar { margin-bottom: 8px; width: 80px; height: 80px; }

#content #posts .post #commentForm .header .nameAndEmail {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	padding-left: 88px;
}

#content #posts .post #commentForm input[type="text"],
#content #posts .post #commentForm input[type="email"] {
	font-size: 1.3rem;
	height: 36px;
	padding-left: 8px;
	padding-right: 8px;
	border: 1px solid #aaa;
}

#content #posts .post #commentForm textarea { font-size: 1.3rem; line-height: 2.0rem; margin: 0; border: 1px solid #aaa;}
#content #posts .post #commentForm .header .nameAndEmail #commentName { width: 100%; margin-bottom: 8px; }
#content #posts .post #commentForm .header .nameAndEmail #commentEmail { width: 100%; }
#content #posts .post #commentForm .webProfile { width: 100%; height: 36px; margin-bottom: 8px; }
#content #posts .post #commentForm .webProfile .left { float: left; width: 50%; padding-right: 4px; }
#content #posts .post #commentForm .webProfile .right { float: left; width: 50%; padding-left: 4px; }
#content #posts .post #commentForm #commentWebsite { width: 100%; }
#content #posts .post #commentForm #commentTwitter { width: 100%; }
#content #posts .post #commentForm #commentContent { width: 100%; padding: 8px; resize: vertical; height: 100px; }

#content #posts .post #commentForm label {
	display: block;
	width: 100%;
	text-align: center;
}

#content #posts .post #commentForm input[type="checkbox"] {
	margin: 8px;
}

#content #posts .post #commentForm input[type="button"] {
	font-size: 1.3rem;
	width: 100%;
	height: 36px;
	border: 1px solid #aaa;
	background-color: #ccc;
	cursor: pointer;
	margin-bottom: 8px;
	margin-top: 4px;
	-webkit-appearance: none;
}

#content #posts .post #commentForm input[type="button"]:hover {
	background-color: #bbb;
}

/* BLOCKS */

#content #posts .post .block.image {
	text-align: center;
}

#content #posts .post .block.image img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	padding-bottom: 2rem;
}

/* COMMENTS */

#content #posts .post .comments .comment {
	background-color: rgba(0,0,0,0.01);
	padding: 1rem;
	margin-bottom: 1rem;
	margin-left: 40%;
}

#content #posts .post .comments .comment.indent-0 { margin-left: 0; background-color: rgba(0,0,0,0.09); }
#content #posts .post .comments .comment.indent-1 { margin-left: 10%; background-color: rgba(0,0,0,0.07); }
#content #posts .post .comments .comment.indent-2 { margin-left: 20%; background-color: rgba(0,0,0,0.05); }
#content #posts .post .comments .comment.indent-3 { margin-left: 30%; background-color: rgba(0,0,0,0.03); }


#content #posts .post .comments .comment h3 {
	font-weight: normal;
	font-family: "Lobster", cursive;
	color: #333;
	padding-bottom: 1rem;
}

#content #posts .post .comments .comment h3 .date {
	font-size: 1.5rem;
	color: #666;
	font-family: "Raleway", sans-serif;
	font-weight: normal;
}

#content #posts .post .comments .comment p {
	padding-bottom: 1rem;
}

#content #posts .post .comments .comment img.avatar {
	float: left;
	padding-right: 1rem;
	padding-bottom: 1rem;
}

/* FOOTER */

#footer {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ddd;
	text-align: center;
	color: #777;
}

#footer .table {
	display: table;
	margin-bottom: 2rem;
}

#footer .columns {
	display: table-row;
}

#footer .column {
	display: table-cell; 
	width: 25%;
	text-align: left;
	padding: 2rem;
	border-left: dashed 1px #aaa;
}

#footer .column.last {
	border-right: dashed 1px #aaa;
}

#footer .column ul {
	list-style: none;
}

#footer .column h2 {
	font-size: 2.0rem;
	color: #666;
	padding-bottom: 1rem;
}

#footer .column h1,
#footer .column h2,
#footer .column h3,
#footer .column h4,
#footer .column h5,
#footer .column h6,
#footer .column p {
	padding-bottom: 1rem;
}

#footer .column form input {
	width: 100%;
	margin-bottom: 0.5rem;
}

#footer .column form input[type="email"] {
	padding: 0.5rem;
	background-color: #bbb;
	color: #000;
	border-radius: 0.5rem;
	border: none;
}

/* UTILS */

.clear {
	clear: both;
}

.image-bubbles img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border: none;
	background-color: #555;
}

.image-bubbles a:hover img {
	border: 2px solid #555;
}

