* {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	font-size: 1.5em;
	line-height: 1.5em;
	font-weight: 400;
	font-family: "Raleway", sans-serif;
	height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
	padding-bottom: 2rem;
}

h1, h2 {
	font-weight: normal;
	font-family: "Lobster", cursive;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

